
.custom-button{
    margin: 2px;
}
  
.view_all_client_container{
    margin-bottom: 20px;
    margin-top: 20px;
   
    box-sizing: border-box;
    position: sticky;
}
.input-area{
        border-bottom: 1px solid #ffffff !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
}
