  * {
      padding: 0;
      margin: 0;
      
  }
  /* base.html navbar styling */
   /* Making materialise nave fixed and and applying colouring */
  #M__customise_nav{
      
      background-image: linear-gradient(to right, #a517ba, #5f1782);
    
  }
  
   /* Car logo image */
  .logo_image{
      height: 40px;
      padding-left: 20px;
      }

  /* index.html banner section styling */
.parallax-container{
    min-height: 75vh;
    height: auto;    
}
.parallax{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
   
}
.parallax_img{
    width: 50%;
 
}
.image-div{
overflow: hidden;
}
/*
.section-search {
    padding: 5px !important;
    font-size: 18px !important;
    width: 100% !important;
    border: #f4f4f4 3px solid !important;
}*/
.section-follow .fa-4x{
    margin: 5px 10px;
}



