{% extends 'admin_base.html' %}
{% block head %}Client search results{% endblock %}
 {% block content %}

<div class="container web_theme" style="padding:20px; margin-top: 20px;">
    <div class="row valign-wrapper grey lighten-5">
        <h4 class="black-text custom-h3-view-clients"><i class="fas fa-search-plus red-text"></i> Search client</h4>
    </div>
    <div class="row">
     <h6><strong>Please enter client detail's you want to search for.</strong></h6>
    </div>
    <div class="row">
        <form id="c_search" class="col s12" action="{{url_for('client_blueprint.client_search')}}" method="POST" autocomplete="off">
            <div class="row">
                <div class="input-field col s12">
                    <input class="validate input-area white-text valid" type="text" id="client_search" name="search" required>
                    <label class="custom-input-class white-text"  for="search">Car registration number</label>
                </div>
                <div class="row" style="padding-left:12px;">
                <div class="col s12">
                    <button form="c_search" class="waves-effect waves-light btn admin-custom-buttons tooltipped" data-position="right" data-tooltip="Search user name/email/phone" type="submit">
                    <i class="fas fa-search-plus red-text"></i> Find client</button>
                </div>
                </div>
            </div>
        </form> 
    </div>
</div>


<div class="container" style="padding-top:22px;">
    <div class="row">
        <h4 class="black-text"> Client search results:</h4><hr>
    </div>
</div>


{% if clients %}
{% for client in clients %}
<div class="section container"> 
    <div class="row valign-wrapper">
    <!--Car cliet is interested in infomation column-->
        <div class="col s12 m12 l5">
            <div class="row valign-wrapper">
                <h5 style="margin-left:20px;"><span><i class="fas fa-car red-text"></i> CAR CLIENT IS INTERESTED IN</span><hr></h5>
            </div>
            {% if client.car_status == 'car_is_sold' %}
           <p class="lead text-center red-text" style="font-weight:bolder">This car is sold.</p>
            {% endif %}
                <div class="card grey darken-4 hoverable">
        <div class="card-image card-image-padding">
          <img class="materialboxed responsive-img" src="{{ client.car_image_url }}">
          <span class="card-title">
                <span class="admin-custom-card-title">
                     Car make: {{ client.car_make }}
                </span>
            </span>
        
        </div>
        <div class="card-content">
            <ul class="collection">
                <li class="collection-item admin-custom-li">Car model: {{ client.car_model }}</li>
                <li class="collection-item admin-custom-li">Car reg num: {{ client.reg_num }}</li>
                <li class="collection-item admin-custom-li">Registration Year: {{ client.registration_year }}</li>
            </ul>
        </div>
        
         <div class="card-action">
         
            {% if client.car_status == 'car_is_sold' %}
            <a href="{{url_for('client_blueprint.sold_car_info', reg_num=client.reg_num)}}" class="btn waves-effect waves-red admin-secondary-custom-buttons">
            <i class="fas fa-info-circle red-text"></i> See full car info
            </a>
            <a href="{{url_for('client_blueprint.add_new_client')}}" class="btn waves-effect waves-red admin-secondary-custom-buttons">
            <i class="fas fa-exchange-alt red-text"></i> Book different car for client</a>
            {% else %}
            <a href="{{url_for('client_blueprint.view', reg_num=client.reg_num)}}" class="btn waves-effect waves-red admin-secondary-custom-buttons">
            <i class="fas fa-info-circle red-text"></i> See full car info
            </a>
            <a href="{{url_for('admin.car_sold_form', reg_num=client.reg_num, client_id=client._id)}}" class="btn waves-effect waves-red admin-secondary-custom-buttons">
            <i class="fas fa-money-check red-text"></i> Sell car</a>
            {%endif%}
        </div>
                </div>

        
        </div>
          <!--Cliet infomation column-->
        <div class="col s12 m12 l5 offset-l2">
        <div class="row valign-wrapper">
            <h5 style="margin-left:20px;"><span><i class="fas fa-info-circle red-text"></i> CLIENT'S INFORMATION</span><hr></h5>
        </div>
            <div class="card web_theme-card hoverable">

                <div class="card-content white-text">
                <span class="card-title">Client Name: {{ client.full_name }}</span> 
                <p>Client Instructions: {{client.client_related_notes}}</p>
                </div>
                    <ul class="collapsible popout">
                        <li>
                        <div class="collapsible-header"><i class="fas fa-calendar-check red-text"></i>Book an appiontment<i class="material-icons red-text right">keyboard_arrow_down</i></div>
                        <div class="collapsible-body">
                        
                        <form class="" action="{{url_for('client_blueprint.add_appiontments_records')}}" id="appiontment_form{{ client._id }}"  method="POST">
                        <input type="hidden" name="dashboard_status" value="true">
                        <input type="hidden" name="client_id" value="{{client._id}}">
                        <input type="hidden" name="car_make" value="{{client.car_make}}">
                        <input type="hidden" name="car_model" value="{{client.car_model}}">
                        <input type="hidden" name="registration_year" value="{{client.registration_year}}">
                        <input type="hidden" name="car_image_url" value="{{client.car_image_url}}">
                        <input type="hidden" class="form-control" id="reg_num" name="reg_num" value="{{client.reg_num}}" required>
                        <input type="hidden" class="form-control" id="best_time_to_contact" name="best_time_to_contact" value="{{client.best_time_to_contact}}" required> 
                        <input type="hidden" class="form-control" id="best_date_to_contact" name="best_date_to_contact" value="{{client.best_date_to_contact}}" required> 
                        
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" class="validate white-text" id="full_name" name="full_name" value="{{client.full_name}}" required>
                            <label for="full_name">Full name</label>
                        </div>

                        <div class="input-field">
                        <i class="material-icons prefix">email</i>
                            <input type="email" class="validate white-text" id="email" name="email" value="{{client.email}}" required>
                            <label for="email">Email</label>
                        </div>

                        <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input type="tel" class="validate white-text" id="phone" name="phone" value="{{client.phone}}" required> 
                        <label  for="phone">Telephone number</label>
                        </div>

                        <div class="input-field">
                        <i class="material-icons prefix">timer</i>
                        <input class="ml-5 white-text" type="time" id="appiontment_time" name="appiontment_time" value="{{client.appiontment_time}}">
                        <label   for="best_time_to_contact">Appiontment time</label>
                        </div>
                        <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input class="ml-2 white-text" type="date" id="start" name="appiontment_date" value="{{client.appiontment_date}}" min="2020-01-01" max="2022-12-31" required>
                        <label class="ml-2" for="start">Appiontment date:</label>
                        </div>

                        <div class="input-field">
                        <i class="material-icons prefix">mode_edit</i>
                        <label for="exampleFormControlTextarea1">Client related notes</label>
                        <textarea class="materialize-textarea white-text" id="exampleFormControlTextarea1" name="client_related_notes" rows="3">{{client.client_related_notes}}</textarea>
                        </div>  

                        <button class="waves-effect waves-light btn admin-secondary-custom-buttons" type="submit" form="appiontment_form{{ client._id }}">
                        <i class="fas fa-bookmark red-text"></i> Book appiontment: {{ client.full_name }}
                        </button>
                        </form>
                        
                        </div>
                        </li>
                       

                    </ul>
                  <div class="card-content">
                    <ul class="collection">
                    <li class="collection-item">Client Email: {{ client.email }}</li>
                    <li class="collection-item">Client phone: {{ client.phone}}</li>
                    <li class="collection-item">Best time to contact: {{ client.best_time_to_contact }}</li>
                    <li class="collection-item">Best date to contact: {{ client.best_date_to_contact}}</li>
                        {% if client.appiontment_time %}
                    <li class="collection-item">Appiontment time:{{client.appiontment_time}}</li>
                    <li class="collection-item">Appiontment date: {{client.appiontment_date}}</li>
                        {% else %}
                    <li class="collection-item pulse">
                    <a class="waves-effect waves-light btn red darken-4 pulse">Appiontment time: Client has not been contacted yet</a></li>
                        {%endif%}
                </ul>
                </div>
                <div class="card-action">
                <a type="button" class="waves-effect waves-red  btn modal-trigger admin-secondary-custom-buttons" href="#modal{{ client._id }}">
                    <i class="fas fa-trash-alt red-text"></i> Delete client
                </a>
                {% if client.dashboard_status == 'false' %}
               <a class="waves-effect waves-red btn modal-trigger admin-secondary-custom-buttons" href="#movetosashboard{{ client._id }}">
                <i class="fas fa-trash-restore-alt red-text"></i> Move client to dashboard</a>
                {% else %}
                <a type="button" class="waves-effect waves-red btn modal-trigger admin-secondary-custom-buttons" href="#removeFromDashboard{{ client._id }}"><i class="fas fa-user-times red-text"></i> Remove client from dashboard</a>
                {% endif %}
                </div>
                </div>
    
        </div>
    </div>
</div>

<!-- delete client Modal --> 
<!-- Modal Structure -->
<div class="modal" id="modal{{ client._id }}" >
    <div class="modal-content">
    <div class="row  grey darken-4 white-text valign-wrapper">
        <h5 style=" margin:5px 18px;"><i class="fas fa-trash-alt red-text"></i> Delete Record</h5>
    </div>
    <div class="row">
        <h6 style="padding:15px;">You are going to delete client name {{ client.full_name }}.</h6>
    </div>
        <div class="modal-footer">  
        <a class="modal-close white-text waves-effect waves-green btn admin-custom-buttons">
        <i class="fas fa-times-circle red-text"></i> Not now</a>
        <a class="modal-close white-text waves-effect waves-green btn admin-custom-buttons" href="{{url_for('admin.delete_client_admin_url', client_id=client._id)}}">
        <i class="fas fa-trash-alt red-text"></i> Delete: {{ client.full_name }}</a>
    </div>
    </div>
    
</div>
 
<!-- Modal Remove client from dashboard -->
<div class="modal" id="removeFromDashboard{{ client._id }}">
    <div class="modal-content">
      <div class="modal-header">
      <div class="row grey darken-4 white-text valign-wrapper">
        <h5 class="modal-title" style=" margin:5px 18px;" id="removeFromDashboard{{ client._id }}Label">
        <i class="fas fa-user-times red-text"></i> Remove Clinet from admin dashboard</h5>
      </div>
        <div class="row">
            <h6 style="padding:15px;">You are removing client name {{ client.full_name }} from dashboard. You can find {{ client.full_name }} in manage client, view all clients.</h6>
        </div>
       
       <!-- </button>-->
      <div class="modal-footer">
        <button type="button" class="modal-close teal white-text waves-effect waves-green btn admin-custom-buttons">
        <i class="fas fa-times-circle red-text"></i> Not now!</button>
        <a href="{{url_for('client_blueprint.remove_from_dashboard', client_id=client._id)}}" class="modal-close teal white-text waves-effect waves-green btn admin-custom-buttons">
       <i class="fas fa-user-times red-text"></i> Yes I am sure!</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal move client to dashboard -->
<div class="modal" id="movetosashboard{{ client._id }}">

    <div class="modal-content">
        <div class="row grey darken-4 white-text valign-wrapper">
            <h5 class="modal-title" style=" margin:5px 18px;"><i class="fas fa-user-plus red-text"></i> Move Client to Admin  Dashboard</h5>
        </div> 
       <p style="padding:15px;">You are moving back client name {{ client.full_name }} to dashboard.</p>
       <!-- </button>-->
      <div class="modal-footer">
        <button type="button" class="modal-close white-text waves-effect waves-green btn admin-custom-buttons"><i class="fas fa-times-circle red-text"></i> Not now</button>
        <a href="{{url_for('client_blueprint.move_to_dashboard', client_id=client._id)}}" class="modal-close teal white-text waves-effect waves-green btn admin-custom-buttons">
        <i class="fas fa-user-plus red-text"></i> Yes I am sure!</a>
      </div>
    </div>
  </div>
{% endfor %}

{% else %}
<div class="container p-4">
    <div class="row">
        <div class="col s12">
            <h5>Please check keywords for your search. No client found related to keyword you have searched.</h5>
        </div>
    </div>  
</div>
{% endif %}
<div class="container" style="margin-top: 32px; ">
  <div class="row">
        <div class="col s12">
            <a href="{{url_for('admin.admin_homepage')}}" class="waves-effect waves-light btn admin-custom-buttons">
            <i class="fas fa-hand-point-left red-text"></i> Admin dashboard</a>
              <a href="{{url_for('client_blueprint.view_all_clients')}}" class="waves-effect waves-light btn admin-custom-buttons">
            <i class="fas fa-hand-point-left red-text"></i> View all clients</a>
        </div>
    </div>
</div>
 {%endblock%}