{% extends 'base.html' %}
  {% block admin_content %}
   
      <ul class="navbar-nav mr-auto">  
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Cars</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('admin.add_car_company')}}">Add Car Make/Model</a>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('admin.update_car_info')}}">Edit existing Car Make/Model/info</a>
        </div>
      </li> 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="add_new_car" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new car
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for results in admin_cars_make %}
        <a class="dropdown-item" href="{{url_for('admin.add_new_car', car_make=results.car_make)}}">{{results.car_make}}</a>
        <div class="dropdown-divider"></div>
       {% endfor %}
        </div>
      </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="admin_logged_in" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Logged-In
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('admin.admin_homepage')}}">Admin Home Page</a>
          <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{url_for('login.signout')}}">Signout</a>
        <div class="dropdown-divider"></div>
       
      <a class="dropdown-item" href="{{url_for('login.register')}}">Add new user</a>
        </div>

      </li>
    </ul>
    <form action="{{ url_for('admin.search') }}" method="POST" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Search" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

{%endblock%}

 {% block content %}
<div class="container mt-3">
<h3>Clients appiontment form</h3><hr>

<form action="{{url_for('client_blueprint.add_appiontments_records')}}" method="POST">
<div class="form-group">
    <label for="client_id">Client ID</label>
    <input type="text" class="form-control" id="client_id" name="client_id" value="{{client_info._id}}" required>
  </div>
     <div class="form-group">
     <input type="hidden" name="car_make" value="{{client_info.car_make}}">
   <input type="hidden" name="car_model" value="{{client_info.car_model}}">
 
  <input type="hidden" name="registration_year" value="{{client_info.registration_year}}">
 <input type="hidden" name="car_image_url" value="{{client_info.car_image_url}}">
  </div>
 <div class="form-group">
    <label for="email">Car registration number<address></address></label>
    <input type="text" class="form-control" id="reg_num" name="reg_num" value="{{client_info.reg_num}}" required>
  </div>
 
  <div class="form-group">
    <label for="exampleInputEmail1">Full name</label>
    <input type="text" class="form-control" id="full_name" name="full_name" value="{{client_info.full_name}}" required>
  </div>
  <div class="form-group">
    <label for="email">Email <address></address></label>
    <input type="email" class="form-control" id="email" name="email" value="{{client_info.email}}" required>
  </div>
  <div class="form-group">
     <label  for="phone">Telephone number</label>
    <input type="tel" class="form-control" id="phone" name="phone" value="{{client_info.phone}}" required> 
  </div>
   <div class="form-group">
     <label   for="best_time_to_contact">Appiontment time</label>
  <input class="ml-5" type="time" id="best_time_to_contact" name="appiontment time" required>
    <label class="ml-5" for="start">Appiontment date:</label>
    <input class="ml-5" type="date" id="start" name="appiontment date" value="2018-07-22" min="2020-01-01" max="2022-12-31" required>
  </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Client related notes</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="client_related_notes" rows="3"></textarea>
  </div>

  
  <button type="submit" class="btn btn-primary m-3">Make appiontment</button>
</form>
</div>
 {%endblock%}