{% extends 'admin_base.html' %}
{% block content %}
<div class="container mt-5">
<div class="container mt-2">
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Buyer information <i class="fas fa-chevron-circle-down"></i>
        </button>
      </h2>
    </div>
     <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="row card-body">
      
            <div class="col-md-12 mb-2">
            <p>Buyer name: {{car_info.full_name}}</p>
            </div>
             <div class="col-md-12 mb-2">
            <p>Buyer email address: {{car_info.email}}</p>
                </div>
                   <div class="col-md-12 mb-2">
            <p>Buyer phone number: {{car_info.phone}}</p>
            </div>
               <div class="col-md-12 mb-2">
            <p>Buyer postal address: {{car_info.address}}</p>
            </div>
               <div class="col-md-12 mb-2">
            <p>Car sold amount: {{car_info.sold_amount}}</p>
            </div>
      
      </div>
    </div>
  </div>

<hr>
</div>
</div>



<h3>Buyer information</h3>
<div class="row">
<div class="col-md-2">
Name: 
</div>
<div class="col-md-3">
Email: 
</div>
<div class="col-md-2">
Phone: 
</div>
<div class="col-md-3">
Address: 
</div>
<div class="col-md-2">
Sold amount: 
</div>
</div><hr>
</div>
<div class="container pt-2">
<div class="jumbotron" style="background-image: url({{ car_info.car_image_url }});"> </div>
</div>

<div class="container">
<div class="row">
<div class="col-md-12">
<h2>{{ car_info.car_make }} {{ car_info.car_model }}</h2><hr>
</div>
<div class="col-md-12 body_sec p-2">
<p> <strong style="font-size: 26px;"><mark>{{ car_info.car_original_price}}</mark></strong></p>
    <p>Registration Year: <strong> {{ car_info.registration_year }} </strong>
    <br> Engine: <strong>{{ car_info.engine }} </strong></p>
</div>
</div> 
<div class="row custom-row justify-content-center vcenter vertical-align">
<div class="col-md-2 m-3 vcenter custom-col vertical-align">Fuel Type: {{car_info.fuel_type}}</div>
<div class="col-md-2 m-3 vcenter custom-col">Mileage: {{car_info.mileage}}</div>
<div class="col-md-2 m-3 vcenter custom-col">Transmission: {{car_info.transmisson}}</div>
<div class="col-md-2 m-3 vcenter custom-col">Seats: {{car_info.seats}}</div>


</div>
<div class="container mt-4 mb-4">
<div class="row">
<div class="col-md-12"><h4>Car summary</h4></div>

<div class="col-md-6"><p>Body type: </p><strong><p>{{ car_info.body_type }}</p></strong><hr></div>
<div class="col-md-6"><p>Exterior colour:</p><strong><p> {{ car_info.exterior_colour }}</p></strong><hr></div>
<div class="col-md-6"><p>Gear box: </p> <strong><p>{{ car_info.gear_box }}</p></strong><hr></div>
<div class="col-md-6"><p>Drive type: </p> <strong><p>{{ car_info.drive_type }}</p></strong><hr></div>
<div class="col-md-6"><p>Registration number: </p> <strong><p>{{ car_info.reg_num }}</p></strong><hr></div>
<div class="col-md-6"><p>Warranty expires date: </p> <strong><p>{{ car_info.warranty_expire_date }}</p></strong><hr></div>
{% if car_info.is_ULEZ_compliant %}
<div class="col-md-6"><p>ULEZ compliant: </p> <strong><p>Yes</p></strong><hr></div>
{% endif %}


</div>
</div>
<div class="container mt-4 mb-4">
<div class="row">
<div class="col-md-12"><h4>Car features</h4></div>
<div class="col-md-12"><h5>Exterior</h5></div>
<div class="col-md-6"><p>Alloy Wheels: {{ car_info.alloy_wheels }}</p><hr></div>
<div class="col-md-6"><p>Metallic Paint: {{ car_info.metallic_paint }}</p><hr></div>
<div class="col-md-12"><h5>Interior</h5></div>
<div class="col-md-6"><p>Bluetooth: {{ car_info.bluetooth }}</p><hr></div>
<div class="col-md-6"><p>Climate cotrol: {{ car_info.climate_control }}</p><hr></div>
<div class="col-md-6"><p>Seats Material: {{ car_info.seats_material }}</p><hr></div>
<div class="col-md-6"><p>Metallic Paint: {{ car_info.metallic_paint }}</p><hr></div>
<div class="col-md-6"><p>ISO Fittings: {{ car_info.ISOFIX_fittings }}</p><hr></div>
<div class="col-md-6"><p>Rear Parking Sensors: {{ car_info.rear_parking_sensors }}</p><hr></div>
<div class="col-md-6"><p>Start stop technology: {{ car_info.start_stop_technology }}</p><hr></div>
<div class="col-md-6"><p>Cruise control: {{ car_info.cruise_control }}</p><hr></div>
</div>
</div>
<div class="container mt-4 mb-4">
<div class="row">
<div class="col-md-12"><h4>Car specs</h4></div>
<div class="col-md-12"><h5>Perfomance and economy</h5></div>
<div class="col-md-6"><p>Top speed: </p><strong><p>{{ car_info.top_Speed }}</p></strong><hr></div>
<div class="col-md-6"><p>Acceleration (0-62 mph):</p><strong><p> {{ car_info.acceleration }}</p></strong><hr></div>
<div class="col-md-6"><p>Engine power: </p><strong><p>{{ car_info.engine_power }}</p></strong><hr></div>
<div class="col-md-12"><h5>Weight and dimensions</h5></div>
<div class="col-md-6"><p>Length:</p><strong><p> {{ car_info.length }}</p></strong><hr></div>
<div class="col-md-6"><p>Boot space (seats-up):</p><strong><p> {{ car_info.boot_space }}</p></strong><hr></div>
<div class="col-md-6"><p>Fuel tank capacity: </p><strong><p>{{ car_info.fuel_tank_capacity }}</p></strong><hr></div>

</div>
</div>
<div class="container mt-4 mb-4">
<div class="row">
<div class="col-md-12"><h4>Car specs</h4></div>
<div class="col-md-12"><h5>Perfomance and economy</h5></div>
<div class="col-md-6"><p>Vehicle tax: </p><strong><p>{{ car_info.vehicle_tax }}</p></strong><hr></div>
<div class="col-md-6"><p>Insurance:</p><strong><p> {{ car_info.insurance }}</p></strong><hr></div>
<div class="col-md-6"><p>Fuel consumption: </p> <strong><p>{{ car_info.fuel_consumption }}</p></strong><hr></div>


</div>
</div>
</div>
{%endblock%}
