{% extends 'admin_base.html' %}
{% block head %}Sold Cars Info {% endblock %}
 {% block content %}
<div class="container admin-dashboard-container">
    <div class="row grey darken-4 valign-wrapper">
        <h3 class="white-text"><i class="fas fa-money-check red-text"></i> View sold cars</h3>
    </div><hr class="container-bottom-hr-styling">


{% with errors = get_flashed_messages(category_filter=["delete_flash"]) %}
{% if errors %}
<div class="row alert-message block-message error">
  
 
    {%- for msg in errors %}
    <p class="lead" style="color:green; font-weight::bold;">{{ msg }}</p>
    {% endfor -%}
  
 </div><hr>
{% endif %}
{% endwith %}
<table id="sold-cars">
        <thead>
          <tr>
              <th>Client Name</th>
              <th>Car Registration</th>
              <th>Client Phone</th>
              <th>Operations</th>
          </tr>
        </thead>


{% for cars in sold_cars %}
    <tbody>  
    <tr>
        <td>{{cars.full_name}}</td>
        <td>{{cars.reg_num}}</td>
        <td>{{cars.phone}}</td>
        <td>
            <a class="btn waves-effect waves-red admin-secondary-custom-buttons" href="{{url_for('client_blueprint.sold_car_info', reg_num=cars.reg_num)}}">
                <i class="fas fa-info-circle red-text"></i> Car details
            </a>
            <a class="btn waves-effect waves-red admin-secondary-custom-buttons modal-trigger" href="#modal{{ cars._id }}">
                <i class="fas fa-trash-alt red-text"></i> Delete car
            </a>
        
        </td>
    </tr>
       
    </tbody>
      <div class="modal" id="modal{{ cars._id }}" >
        <div class="modal-content">
            <div class="row grey darken-4 white-text valign-wrapper">
                 <h5 style=" margin:5px 18px;"><i class="fas fa-trash-alt red-text"></i> Delete Record</h5>
            </div>
            <div class="row">
                 <p>Are you sure you wan't to delete client, once client is
                      deleted from here we will no longer have any information about this client and car.</p>
            </div>
            <div class="modal-footer">  
                <a class="modal-close white-text waves-effect waves-green btn admin-custom-buttons"><i class="fas fa-times-circle red-text"></i> Not now</a>
                <a class="btn white-text waves-effect waves-green btn admin-custom-buttons" href="{{url_for('client_blueprint.delete_sold_car', car_id=cars._id)}}">
                <i class="fas fa-trash-alt red-text"></i> Delete: {{ cars.reg_num }}</a>
            </div>
        </div>
        
    </div>
  {% endfor %}   

     
</table>
</div>
<div class="container" style="margin-top: 32px; ">
  <div class="row">
        <div class="col s12">
            <a href="{{url_for('admin.admin_homepage')}}" class="waves-effect waves-light btn admin-custom-buttons">
            <i class="fas fa-hand-point-left red-text"></i> Admin dashboard</a>
              <a href="{{url_for('client_blueprint.view_all_clients')}}" class="waves-effect waves-light btn admin-custom-buttons">
            <i class="fas fa-hand-point-left red-text"></i> View all clients</a>
        </div>
    </div>
</div>

 {% endblock %}