{% extends 'admin_base.html' %}

 {% block content %}
<div class="container">
<h3>All sold cars are here:</h3><hr>

{% with errors = get_flashed_messages(category_filter=["delete_flash"]) %}
{% if errors %}
<div class="row alert-message block-message error">
  
 
    {%- for msg in errors %}
    <p class="lead" style="color:green; font-weight::bold;">{{ msg }}</p>
    {% endfor -%}
  
 </div><hr>
{% endif %}
{% endwith %}
   <table>
        <thead>
          <tr>
              <th>Client Name</th>
              <th>Car Registration</th>
              <th>Client Phone</th>
              <th>Operations</th>
          </tr>
        </thead>

        <tbody>
{% for cars in sold_cars %}
          <tr>
            <td>{{cars.full_name}}</td>
            <td>{{cars.reg_num}}</td>
            <td>{{cars.phone}}</td>
            <td><a class="btn btn-dark btn-sm m-3" href="{{url_for('client_blueprint.sold_car_info', reg_num=cars.reg_num)}}">View all</a>
      
             <a class="waves-effect waves-light btn modal-trigger" href="#modal{{ cars._id }}">Delete info</a>
            </td>
          </tr>
        <div class="modal" id="modal{{ cars._id }}">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal{{ cars._id }}Label">Delete Record</h4>
                     <p>Are you sure you wan't to delete client, once client is
                      deleted from here we will no longer have any information about this client and car.</p>
                </div>
            <div class="modal-footer">
                <button type="button" class="modal-close teal white-text waves-effect waves-green btn-flat">Close</button>
                <a class="btn btn-danger" href="{{url_for('client_blueprint.delete_sold_car', car_id=cars._id)}}">Delete: {{ cars.full_name }}</a>
            </div>
            </div>
        </div>
        
  {% endfor %}   

        </tbody>
      </table>

</div>


 {% endblock %}