{% extends 'admin_base.html' %} {% block content %}
{% with errors = get_flashed_messages(category_filter=["client_deleted"]) %}
{% if errors %}
<div class="container">
<div class="row">
<div class="col s12">
    {%- for msg in errors %}
    <p class="lead" style="color: green; font-weight:normal; text-decoration: underline;">{{ msg }}</p>
    {% endfor -%}
</div>
</div>
</div>
{% endif %}
{% endwith %}
<div class="section container admin-dashboard-container">
<!--Add heading in a tag to use tooltip-->
<div class="row grey darken-4 valign-wrapper">
    <a class="tooltipped" data-position="top" data-tooltip="{{clients_info.count()}} clients on dashboard">
    <h3 class="white-text" ><i class="fas fa-users-cog red-text"></i> Admin Client Adminstration</h3>
</a>
</div><hr class="container-bottom-hr-styling">

</div>

<div class="container web_theme" style="padding:20px; margin-top: 20px;">
    <div class="row valign-wrapper grey lighten-5">
        <h4 class="black-text custom-h3-view-clients"><i class="fas fa-search-plus red-text"></i> Search client</h4>
    </div>
    <div class="row">
     <h6><strong>Please enter client detail's you want to search for.</strong></h6>
    </div>
    <div class="row">
        <form class="col s12" action="{{url_for('client_blueprint.client_search')}}" method="POST" autocomplete="off">
            <div class="row">
                <div class="input-field col s12">
                    <input class="validate input-area white-text valid" type="text" id="client_search" name="search" required>
                    <label class="custom-input-class white-text"  for="search">Car registration number</label>
                </div>
                <div class="row" style="padding-left:12px;">
                <div class="col s12">
                    <button class="waves-effect waves-light btn admin-custom-buttons tooltipped" data-position="right" data-tooltip="Search user name/email/phone" type="submit">
                    <i class="fas fa-search-plus red-text"></i> Find client</button>
                </div>
                </div>
            </div>
        </form> 
    </div>
</div>

{% for clients in clients_info |sort (reverse=false, attribute="full_name") %}
<div class="section container" id="" style=""> 
 
    <div class="row">
        <!--Cat cliet is interested in infomation column-->
        <div class="col s12 m12 l5">
          <div class="row valign-wrapper">
                <h5 style="margin-left:20px;"><span><i class="fas fa-car red-text"></i> CAR CLIENT IS INTERESTED IN</span><hr></h5>
            </div>
            {% if clients.car_status == 'car_is_sold' %}
            <p class="lead text-center" style="color:red; font-weight:bolder">This car is sold.</p>
            {% endif %}
        <div class="card grey darken-4 hoverable">
        <div class="card-image card-image-padding ">
          <img src="{{ clients.car_image_url }}">
           <span class="card-title"><span class="admin-custom-card-title">Car make: {{ clients.car_make }}</span></span>
        
        </div>
        <div class="card-content">
            <ul class="collection">
                <li class="collection-item admin-custom-li">Car model: {{ clients.car_model }}</li>
                <li class="collection-item admin-custom-li">Car reg num: {{ clients.reg_num }}</li>
                <li class="collection-item admin-custom-li">Registration Year: {{ clients.registration_year }}</li>
            </ul>
        </div>
        
         <div class="card-action">
         {% if clients.car_status == 'car_is_sold' %}
            <a href="{{url_for('client_blueprint.sold_car_info', reg_num=clients.reg_num)}}" class="btn waves-effect waves-red admin-secondary-custom-buttons">
                <i class="fas fa-info-circle red-text"></i> See full car info
            </a>
            <a href="{{url_for('client_blueprint.add_new_client')}}" class="btn waves-effect waves-red admin-secondary-custom-buttons">
            <i class="fas fa-exchange-alt red-text"></i> Book different car for client
            </a>
            {% else %}
            <a href="{{url_for('client_blueprint.view', reg_num=clients.reg_num)}}" class="btn waves-effect waves-red admin-secondary-custom-buttons">
                <i class="fas fa-info-circle red-text"></i> See full car info
            </a>
            <a href="{{url_for('admin.car_sold_form', reg_num=clients.reg_num, client_id=clients._id)}}" class="btn waves-effect waves-red admin-secondary-custom-buttons">
            <i class="fas fa-money-check red-text"></i> Sell car</a>
            {%endif%}
        </div>
        </div>

        
        </div>
        <!--Cliet infomation column-->
        <div class="col s12 m12 l5 offset-l2">
            <div class="row valign-wrapper">
            <h5 style="margin-left:20px;"><span><i class="fas fa-info-circle red-text"></i> CLIENT'S INFORMATION</span><hr></h5>
        </div>
            <div class="card web_theme-card">

                <div class="card-content white-text">
                <span class="card-title">Client Name: {{ clients.full_name }}</span> 
                    <p>Client Instructions: {{clients.client_related_notes}}</p>
                </div>
                    <ul class="collapsible popout">
                        <li>
                        <div class="collapsible-header"><i class="fas fa-calendar-check red-text"></i>Book an appiontment<i class="material-icons red-text right">keyboard_arrow_down</i></div>
                        <div class="collapsible-body">
                        
                         <form class="" action="{{url_for('client_blueprint.add_appiontments_records')}}" id="appiontment_form{{ clients._id }}"  method="POST">
                        <input type="hidden" name="dashboard_status" value="true">
                        <input type="hidden" name="client_id" value="{{clients._id}}">
                        <input type="hidden" name="car_make" value="{{clients.car_make}}">
                        <input type="hidden" name="car_model" value="{{clients.car_model}}">
                        <input type="hidden" name="registration_year" value="{{clients.registration_year}}">
                        <input type="hidden" name="car_image_url" value="{{clients.car_image_url}}">
                        <input type="hidden" class="form-control" id="reg_num" name="reg_num" value="{{clients.reg_num}}" required>
                        <input type="hidden" class="form-control" id="best_time_to_contact" name="best_time_to_contact" value="{{clients.best_time_to_contact}}" required> 
                        <input type="hidden" class="form-control" id="best_date_to_contact" name="best_date_to_contact" value="{{clients.best_date_to_contact}}" required> 
                        
                        <div class="input-field">
                             <i class="material-icons prefix">account_circle</i>
                            <input type="text" class="validate white-text" id="full_name" name="full_name" value="{{clients.full_name}}" readonly required>
                            <label for="full_name">Full name</label>
                        </div>

                        <div class="input-field">
                        <i class="material-icons prefix">email</i>
                            <input type="email" class="validate white-text" id="email" name="email" value="{{clients.email}}" readonly  required>
                            <label for="email">Email</label>
                        </div>

                        <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input type="tel" class="validate white-text" id="phone" name="phone" value="{{clients.phone}}" readonly  required> 
                        <label  for="phone">Telephone number</label>
                        </div>

                        <div class="input-field">
                        <i class="material-icons prefix">timer</i>
                        <input class="ml-5 validate white-text" type="time" id="appiontment_time" name="appiontment_time" value="{{clients.appiontment_time}}">
                        <label   for="best_time_to_contact">Appiontment time</label>
                        </div>
                        <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input class="ml-2 validate white-text" type="date" id="start" name="appiontment_date" value="{{clients.appiontment_date}}" min="2020-01-01" max="2022-12-31" required>
                        <label class="ml-2" for="start">Appiontment date:</label>
                        </div>

                        <div class="input-field">
                        <i class="material-icons prefix">mode_edit</i>
                        <label for="exampleFormControlTextarea1">Client related notes</label>
                        <textarea class="materialize-textarea validate white-text" id="exampleFormControlTextarea1" name="client_related_notes" rows="3">{{clients.client_related_notes}}</textarea>
                        </div>  

                        <button class="waves-effect waves-light btn admin-secondary-custom-buttons" type="submit" form="appiontment_form{{ clients._id }}"><i class="fas fa-bookmark red-text"></i> Make appiontment: {{ clients.full_name }}</button>
                        </form>
                        
                        </div>
                        </li>
                       

                    </ul>
                  <div class="card-content">
                    <ul class="collection">
                    <li class="collection-item">Client Email: {{ clients.email }}</li>
                    <li class="collection-item">Client phone: {{ clients.phone}}</li>
                    <li class="collection-item">Best time to contact: {{ clients.best_time_to_contact }}</li>
                    <li class="collection-item">Best date to contact: {{ clients.best_date_to_contact}}</li>
                        {% if clients.appiontment_time %}
                    <li class="collection-item">Appiontment time:{{clients.appiontment_time}}</li>
                    <li class="collection-item">Appiontment date: {{clients.appiontment_date}}</li>
                        {% else %}
                    <li class="collection-item pulse">
                    <a class="waves-effect waves-light btn red pulse">Appiontment time: Client has not been contacted yet</a></li>
                        {%endif%}
                </ul>
                </div>
                <div class="card-action">
                <a type="button" class="waves-effect waves-red btn modal-trigger admin-secondary-custom-buttons" href="#modal{{ clients._id }}">
                <i class="fas fa-trash-alt red-text"></i> Delete client</a>
                </a>

                 {% if clients.dashboard_status == 'false' %}
               <a class="waves-effect waves-red btn modal-trigger admin-secondary-custom-buttons" href="#movetosashboard{{ clients._id }}">
               <i class="fas fa-trash-restore-alt red-text"></i> Move client to dashboard</a>
                {% else %}
                
                {% endif %}

                </div>
                </div>
    
        </div>
       
    </div>
    
</div>
       <!-- delete client Modal --> 
<div class="modal" id="modal{{ clients._id }}" >
        <div class="modal-content">
            <h4>Delete Record</h4>
            <p>You are going to delete client name {{ clients.full_name }}.</p>
        </div>
        <div class="modal-footer">  
            <a class="modal-close teal white-text waves-effect waves-green btn-flat">Not now</a>
            <a class="modal-close teal white-text waves-effect waves-green btn-flat" href="{{url_for('client_blueprint.delete_client', client_id=clients._id)}}">Delete: {{ clients.full_name }}</a>
        </div>
</div>
 
<!-- Modal move client to dashboard -->
  <!-- Modal Structure -->
  <div id="movetosashboard{{ clients._id }}" class="modal">
    <div class="modal-content">
      <h4>Move client back to dashboard</h4>
      <p>Are you sure you want to move client name {{ clients.full_name }} back to admin dashboard.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close teal white-text waves-effect waves-green btn-flat">Not now</a>
      <a href="{{url_for('client_blueprint.move_to_dashboard', client_id=clients._id)}}" class="modal-close teal white-text waves-effect waves-green btn-flat">Move {{ clients.full_name }} to admin dashboard</a>
    </div>
  </div>

{% endfor %}
  
{%endblock%}


