{% extends 'admin_base.html' %} {% block content %}
<div class="container mt-3">
<div class="row">
<div class="col-md-12">
<h3>Search Clients</h3>
</div>

<div class="col-md-12">
<form action="{{url_for('client_blueprint.client_search')}}" method="POST" class="p-2">
    <input class="form-control mr-sm-2" id="client_search" name="search" type="client_search" placeholder="Search clients" aria-label="Search" required>
    <button class="btn btn-outline-success mt-2" type="submit">Search</button>
</form>
</div>

</div><hr>

</div>
{% for clients in clients_info %}
<div class="container pb-3 mt-4">
  <h3 class="mb-3">Client View:</h3>
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="{{ clients.car_image_url }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Car make: {{ clients.car_make }}</h5>

          <p class="card-text">Car model: {{ clients.car_model }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Car reg num: {{ clients.reg_num }}</li>
          <li class="list-group-item">
            Registration Year: {{ clients.registration_year }}
          </li>
        </ul>

        {% if clients.car_status == 'car_is_sold' %}
        <a
          href="{{url_for('client_blueprint.sold_car_info', reg_num=clients.reg_num)}}"
          class="btn btn-dark btn-sm m-1"
          >See full car info</a
        >
        <p class="lead text-center" style="color: red; font-weight: bolder;">
          This car is sold.
        </p>
        {% else %}
        <a
          href="{{url_for('client_blueprint.view', reg_num=clients.reg_num)}}"
          class="btn btn-dark btn-sm m-1"
          >See full car info</a
        >
        <a
          href="{{url_for('admin.car_sold_form', reg_num=clients.reg_num, client_id=clients._id)}}"
          class="btn btn-sm bg-dark m-1"
          style="color: white;"
          >Car sold</a
        >
        {%endif%}
      </div>
    </div>

    <div class="col-sm-6">
      <h3>Client's information</h3>
      <p>Client Name: {{ clients.full_name }}</p>
      <p>Client Email: {{ clients.email }}</p>
      <p>Client phone: {{ clients.phone}}</p>

      <p>Best time to contact: {{ clients.best_time_to_contact }}</p>
      <p>Best date to contact: {{ clients.best_date_to_contact}}</p>

      {% if clients.appiontment_time %}
      <p class="lead m-2">
        <mark>
          Appiontment time:<strong>{{clients.appiontment_time}}</strong>
        </mark>
      </p>
      <p class="lead m-2">
        <mark
          >Appiontment date:<strong> {{clients.appiontment_date}}</strong></mark
        >
      </p>
      <p class="m-2">
        <mark
          >Client Instructions:
          <p class="m-2">{{clients.client_related_notes}}</p></mark
        >
      </p>
      {% else %}
      <p class="lead m-2">
        Appiontment time: Client has not been contacted yet
      </p>

      {%endif%}

      <div class="col-sm-12 p-0 m-0">
       
       
        {% if clients.dashboard_status == 'false' %}
        <button type="button" class="btn btn-dark btn-sm m-1" data-toggle="modal" data-target="#removeFromDashboard{{ clients._id }}">Move to dashboard</button>
        {% else %}
        
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{%endblock%}
