{% extends 'base.html' %} 
{% block login_css %}<link rel="stylesheet" href="{{url_for('login.static', filename='css/login_style.css')}}"> {% endblock %}
 {% block head %} 
  Admin Login
 {% endblock %}

  
{% block content %}
    <img src= "{{url_for('static', filename='img/3.jpg')}}" class="wave">
    <div class="grid_container">
        <div class="img">
            <img src="">
        </div>
        <div class="login-content">
            <form class="form" name="login_form" method="POST" action="{{ url_for('login.logging_in') }}">
                <img src="{{url_for('static', filename='img/avatar.svg')}}">
                <h2>Welcome</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        
                        <input type="text" placeholder="Username" name="username" class="input">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        
                        <input type="password" placeholder="Password" name="password" class="input">
                    </div>
                </div>
                <a href="">Forgot Password...?</a>
                <input type="submit" class="custom_btn" value="login">
                   
        {% with messages = get_flashed_messages() %} 
        {% if messages %}    
           {% for message in messages %}
            <p>{{ message  }}</p>
            {% endfor %}
        
        {% endif %} 
        {% endwith %}
            </form>
        </div>
    </div>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script type="text/javascript" src="script.js">
    </script>
</body>

</html>
{%endblock%}