{% extends 'admin_base.html' %} 

{% block head %} Registeration-Page {% endblock %} 
{% block content %}

<div class="section container admin-dashboard-container">
<div class="row grey darken-4 valign-wrapper">
<h3 class="white-text" ><i class="fas fa-users red-text"></i> User Registration Page</h3>
</div><hr class="container-bottom-hr-styling">
</div>
<div class="container">
    <div class="row">
        <form class="col s12" method="POST" action="{{url_for('login.register')}}">
            <div class="input-field col s12">
                <i class="material-icons red-text prefix">person_add</i>
                <input type="text" class="validate" id="name" name="username" aria-describedby="emailHelp" required/>
                <label for="Username">Username</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons red-text prefix">lock</i>
                <input type="password" class="validate" id="password" name="user_pwd" required/>
                <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons red-text prefix">email</i>
                <input type="email" class="validate" id="email" name="user_email" required/>
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons red-text prefix">person_add</i>
                <select class="validate" id="user_role" name="user_role" required>
                    <option value="admin">Admin</option>
                    <option value="admin_asst">Admin Assistant</option>
                </select>
                <label for="user_role">User Role</label>
            </div>
             <div class="input-field col s12">
                <button type="submit" class="waves-effect waves-light btn admin-custom-buttons"><i class="far fa-user red-text"></i> Make User</button>
             </div>
                 {% with messages = get_flashed_messages() %} 
                {% if messages %}    
                {% for message in messages %}
                <div class="col s12">
                  
                     <p style="font-size:18px; font-weight:bolder;">{{ message }}</p>
                   
                </div>
           
            {% endfor %}
        
        {% endif %} 
        {% endwith %}
        </form>
    </div>
</div>   



{% endblock %}