{% extends 'admin_base.html' %}
{% block head %}Add Make-Model{% endblock %}
{% block content %}
<div class="container admin-dashboard-container">
    <div class="row row grey darken-4 valign-wrapper">
        <h3 class="white-text"><i class="fas fa-folder-plus red-text"></i> Add new car Make - model</h3>
    </div>
    <hr class="container-bottom-hr-styling">
</div>

<div class="container" style="padding-top:10px;">
<h4>Add new car make</h4>
<form action="{{ url_for('admin.add_company') }}" name="add_company" id="add_company" method="POST">
    <div class="row">
        <div class="input-field col s6">
            <input class="validate" type="text" id="car_make" name="car_make" placeholder="car make" required>
            <label for="car_make"><i class="far fa-file"></i> New Make name</label>
        </div>
    <div class="col s12">
        <button class="btn waves-effect waves-red admin-custom-buttons" type="submit" form="add_company">
           <i class="fas fa-plus red-text"></i> Add New Car Make
        </button>
    </div>

  </div>
 
</form>
 {% with errors = get_flashed_messages(category_filter=["make_error"]) %}
{% if errors %}
<div class="alert-message block-message error">
   {%- for msg in errors %}
    <p>{{ msg }}</p>
    {% endfor -%}
</div>
{% endif %}
{% endwith %}
    </div>

<div class="container" style="padding-top:10px;">
<h4>Add new car models</h4>
    <form action="{{ url_for('admin.add_model') }}" name="add_model" id="add_model" method="POST">
        <div class="row">
            <div class="input-field col s6">
                <select class="custom-select" id="car_make_for_adding_model" name="car_make" required>
                    <option selected disabled value="">Car make</option>
                    {% for makers in car_makers %}
                    <option value="{{ makers.car_make }}">{{ makers.car_make }}</option>
                    {%  endfor %}
                </select>
                <label for="car-make">Car make</label>
            </div>
            <div class="input-field col s6">
                <input type="text" id="car_model" name="car_model" class="validate" placeholder="car model" required>
                <label for="car-model"><i class="far fa-file"></i> New car model name</label>
            </div>
            <div class="col s8 m-2">
                <button class="btn waves-effect waves-red admin-custom-buttons" type="submit" form="add_model">
                   <i class="fas fa-plus red-text"></i> Add New Car Model
                </button>
            </div>
        </div>
    </form>
 {% with errors = get_flashed_messages(category_filter=["model_error"]) %}
{% if errors %}
<div class="alert-message block-message error">
   {%- for msg in errors %}
    <p>{{ msg }}</p>
    {% endfor -%}
</div>
{% endif %}
{% endwith %}
</div>

<div class="container">
{% with errors = get_flashed_messages(category_filter=["no_model_error"]) %}
{% if errors %}
<div class="alert-message block-message error">
   {%- for msg in errors %}
    <p class="flow-text red-text">{{ msg }}</p>
    {% endfor -%}
</div>
{% endif %}
{% endwith %}
</div>
{%endblock%}