{% extends 'admin_base.html' %}

{% block content %}

<div class="container p-3">
<h3 class="">{{ car_make }}</h3>
<form action="{{ url_for('admin.reg_verification', car_make=car_make) }}" name="add_car_details" method="POST">
  <div class="form-row">
  
    <div class="col-md-6">
    <label for="reg_no">New Car Registration Number</label>
      <input class="form-control form-control-lg" id="reg_num" name="reg_num" type="text" placeholder="registration number" required>
    </div>
   <div class="col-md-6">
   <label for="car_model">Select Model</label>
      <select class="form-control form-control-lg" id="car_model" name="car_model" required>
      {% for results in car_models %}
        <option value="{{ results.car_model }}">{{ results.car_model }}</option>
        {% endfor %}
        </select>
    </div>
  </div>
     <div class="col-md-12 m-3">
     <button type="submit" class="btn btn-primary btn-lg">Add car</button>
     </div>  
</form>

</div>
<div class="container">
<div class="row">
<div class="col flash-messge">

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert-message block-message error">
     {%- for msg in errors %}
    <p>{{ msg }}</p>
    {% endfor -%}

</div>
{% endif %}
{% endwith %}

</div>

</div>

</div>
<script>
//document.getElementById("car_model").setCustomValidity("No models aviliable, please go to manage car and add model");

</script>
{%endblock%}