{% extends 'base.html' %} 
 {% block admin_content %}
   
      <ul class="navbar-nav mr-auto">  
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Cars</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('admin.add_car_company')}}">Add Car Make/Model</a>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('admin.update_car_info')}}">Edit existing Car Make/Model/info</a>
        </div>
      </li> 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="add_new_car" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new car
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for results in admin_cars_make %}
        <a class="dropdown-item" href="{{url_for('admin.add_new_car', car_make=results.car_make)}}">{{results.car_make}}</a>
        <div class="dropdown-divider"></div>
       {% endfor %}
        </div>
      </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="admin_logged_in" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Logged-In
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Admin Home Page</a>
          <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{url_for('login.signout')}}">Signout</a>
        <div class="dropdown-divider"></div>
       
      <a class="dropdown-item" href="{{url_for('login.register')}}">Add new user</a>
        </div>

      </li>
    </ul>
    <form action="{{ url_for('admin.search') }}" method="POST" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Search" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

{%endblock%}


{% block content %}

<div class="container p-3">
<h3 class="">{{ car_make }}</h3>
<form action="{{ url_for('admin.reg_verification', car_make=car_make) }}" name="add_car_details" method="POST">
  <div class="form-row">
  
    <div class="col-md-6">
    <label for="reg_no">New Car Registration Number</label>
      <input class="form-control form-control-lg" id="reg_num" name="reg_num" type="text" placeholder="registration number" required>
    </div>
   <div class="col-md-6">
   <label for="car_model">Select Model</label>
      <select class="form-control form-control-lg" id="car_model" name="car_model" required>
      {% for results in car_models %}
        <option value="{{ results.car_model }}">{{ results.car_model }}</option>
        {% endfor %}
        </select>
    </div>
  </div>
     <div class="col-md-12 m-3">
     <button type="submit" class="btn btn-primary btn-lg">Add car</button>
     </div>  
</form>

</div>
<div class="container">
<div class="row">
<div class="col flash-messge">

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert-message block-message error">
     {%- for msg in errors %}
    <p>{{ msg }}</p>
    {% endfor -%}

</div>
{% endif %}
{% endwith %}

</div>

</div>

</div>
<script>
//document.getElementById("car_model").setCustomValidity("No models aviliable, please go to manage car and add model");

</script>
{%endblock%}