<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/60ca92335a.js" crossorigin="anonymous"></script>
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('admin.static', filename='css/admin_style.css')}}">
    <title>{% block head %} {% endblock %}</title>
 <style>
   
       
 </style>
    
  </head>
<body>
<header>
    <div class="navbar-fixed">
        <nav class="web_theme">
            <div class="nav-wrapper valign-wrapper">
                
                <a href="{{url_for('admin.admin_homepage')}}" class="brand-logo hide-on-med-and-down center valign-wrapper">
                    <i class="material-icons center white-text grey-text text-darken-4" style="font-size:72px; margin:0px;">supervisor_account</i>
                    <span>
                     CAR SALES SHOWROOM
                    </span>
                </a>
                <a href="#" data-target="slide-out" class="sidenav-trigger right" style="margin-rigth: 50px !important;"><i class="material-icons">menu</i></a>
        </div>
        
        </nav>
        
    </div>
<!--SIDENAV STARTING HERE-->
   <ul id="slide-out" class="sidenav grey darken-4 sidenav-fixed" ><!--SIDENAV FIXED HERE MAKES NAV STAY ALIVE ALL THE TIME-->
        <li>
            <div class="user-view">
                <div class="background red darken-4" ><!--This div provides background colour to top section of sidenav--></div>
                <a href="{{url_for('admin.admin_homepage')}}"><img class="circle" src="{{url_for('static', filename='img/avatar.svg')}}"></a>
                <a href="{{url_for('admin.admin_homepage')}}"><span class="white-text name"><i class="fas fa-home white-text"></i> Admin Home Page</span></a>
                <a href="{{url_for('index')}}"><span class="white-text email"><i class="fas fa-sitemap white-text"></i> Car Showroom Site</span></a>
            </div>
        </li>
        <li class="white-text">
            <a class="dropdown-trigger white-text" href="#!" data-target="for_small_admin">
                Admin Logged-In
                <i class="material-icons right white-text">arrow_drop_down</i>
                <i class="fas fa-user-shield red-text" style="font-size:22px"></i>
            </a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <ul>
            <li>
                <li><a class="dropdown-trigger white-text" href="#!" data-target="add_new_car"><i class="far fa-plus-square red-text" style="font-size:22px"></i>Add new car<i class="material-icons right white-text">arrow_drop_down</i></a></li>
                <div class="divider"></div>
                <li><a class="dropdown-trigger white-text" href="#!" data-target="for_small_manage_cars"><i class="fas fa-layer-group red-text" style="font-size:22px"></i> Manage Cars<i class="material-icons right white-text">arrow_drop_down</i></a></li>
                <div class="divider"></div>
                <li><a class="dropdown-trigger white-text" href="#!" data-target="for_small_manage_clients"><i class="fas fa-users red-text" style="font-size:22px"></i> Manage clients<i class="material-icons white-text right">arrow_drop_down</i></a></li>
                <div class="divider"></div>
                <li style="padding:10px;">
                    <form class="col s12" action="{{ url_for('admin.search') }}" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="search" type="text" name="search" class="validate white-text" autocomplete="off" required>
                                <label for="search" class="white-text">Search</label>
                            </div>
                            <div class="input-field col s12">
                                <button class="waves-effect waves-light btn red-text text-darken-4 admin-secondary-custom-buttons" type="submit" data-tooltip="Search user make/model/registration">
                                <i class="material-icons right black-text text-darken-4">search</i> Search  </button>
                            </div>
                        </div>
                    </form>
                </li>
            </li>
            <!--Small Screen Dropdown List Items For Admin Login -->
            <ul id="for_small_admin" class="dropdown-content">
                <li><a class="dropdown-item" href="{{url_for('login.signout')}}">Signout</a></li>
                <li class="divider"></li>
                <li><a class="dropdown-item" href="{{url_for('login.register')}}">Add New User</a></li>
            </ul>
            <!--Small Screen Dropdown List Items For Add Car -->
            <ul id="add_new_car" class="dropdown-content">
               {% for results in admin_cars_make %}
                <li><a href="{{url_for('admin.add_new_car', car_make=results.car_make)}}">{{results.car_make}}</a></li>
                {% endfor %}
            </ul>
            <!--Small Screen Dropdown List Items For Manage Cars -->
            <ul id="for_small_manage_cars" class="dropdown-content">
                <li><a class="dropdown-item" href="{{url_for('admin.add_car_company')}}">Add Car Make/Model</a></li>
                <li class="divider"></li>
                <li><a class="dropdown-item" href="{{url_for('admin.update_car_info')}}">Edit Existing Car Info</a></li>
                <li class="divider"></li>
                 <li><a class="dropdown-item" href="{{url_for('admin.view_all_cars')}}">View All Cars</a></li>
      
            </ul>
             <!--Small Screen Dropdown List Items For Manage Cars -->
            <ul id="for_small_manage_clients" class="dropdown-content">
                <li><a class="dropdown-item" href="{{url_for('client_blueprint.add_new_client')}}">Book Test Drive</a></li>
                <li class="divider"></li>
                <li><a class="dropdown-item" href="{{url_for('client_blueprint.view_all_clients')}}">View All Clients</a></li>
                <li class="divider"></li>
                <li><a class="dropdown-item" href="{{url_for('client_blueprint.sold_cars')}}">View Sold Cars</a></li>  
            </ul>
        </ul>
    </ul>

</header>   
    
<main>
 {% block content %}

 {% endblock %}
</main>

   

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



    <script>
    
  const slider = document.querySelector('.slider');
  M.Slider.init(slider, {
      indicators: false,
      height: 500,
      transition: 500,
      interval: 6000
  });
    
$( document ).ready(function() {
   
    $('.sidenav').sidenav({
        menuWidth: 300,
        edge: 'left'
    });
    $(".dropdown-trigger").dropdown({
        alignment: 'right',
        hover: false,
        coverTrigger: false
    });
      $('.modal').modal();
        $(document).ready(function(){
    $('.collapsible').collapsible();
   
   $('select').formSelect({
    
   });
   $('.tooltipped').tooltip();
  });
  M.updateTextFields();
const mb = document.querySelectorAll('.materialboxed');
  M.Materialbox.init(mb,{})
});

    </script>
</body>
</html>

<!--

 <header>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark p-1">
  <a class="ml-2" href="{{url_for('index')}}">Car Showroom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav"> 
</ul>

   
    <ul class="navbar-nav mr-auto">  
        <li class="nav-item dropdown p-1">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Cars</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('admin.add_car_company')}}">Add Car Make/Model</a>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('admin.update_car_info')}}">Edit existing Car Info</a>
            <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="{{url_for('client_blueprint.sold_cars')}}">Sold cars</a>
        </div>
      </li> 
      <li class="nav-item dropdown p-1">
        <a class="nav-link dropdown-toggle" href="#" id="add_new_car" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new car
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for results in admin_cars_make %}
        <a class="dropdown-item" href="{{url_for('admin.add_new_car', car_make=results.car_make)}}">{{results.car_make}}</a>
        <div class="dropdown-divider"></div>
       {% endfor %}
        </div>
      </li>
       <li class="nav-item dropdown p-1">
        <a class="nav-link dropdown-toggle" href="#" id="admin_logged_in" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage clients</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('client_blueprint.add_new_client')}}">Add new clients</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{url_for('client_blueprint.view_all_clients')}}">View all clients</a>
          <div class="dropdown-divider"></div>
              <form action="{{url_for('client_blueprint.client_search')}}" method="POST" class="p-2">
                <input class="form-control mr-sm-2" id="client_search" name="search" type="client_search" placeholder="Search clients" aria-label="Search" required>
                <button class="btn btn-outline-success mt-2" type="submit">Search</button>
            </form>
        </div>

        </li>
          <li class="nav-item dropdown p-1">
        <a class="nav-link dropdown-toggle" href="#" id="admin_login" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Logged-In
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('admin.admin_homepage')}}">Admin Home Page</a>
          <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{url_for('login.signout')}}">Signout</a>
        <div class="dropdown-divider"></div>
       
      <a class="dropdown-item" href="{{url_for('login.register')}}">Add new user</a>
        </div>

        </li>
    </ul>
    <form action="{{ url_for('admin.search') }}" method="POST" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Search" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
 

  </div>
</nav>

</header>

-->
