{% extends 'base.html' %}
  {% block admin_content %}
   
      <ul class="navbar-nav mr-auto">  
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Cars</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('admin.add_car_company')}}">Add Car Make/Model</a>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('admin.update_car_info')}}">Edit existing Car Make/Model/info</a>
        </div>
      </li> 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="add_new_car" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new car
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for results in admin_cars_make %}
        <a class="dropdown-item" href="{{url_for('admin.add_new_car', car_make=results.car_make)}}">{{results.car_make}}</a>
        <div class="dropdown-divider"></div>
       {% endfor %}
        </div>
      </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="admin_logged_in" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Logged-In
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('admin.admin_homepage')}}">Admin Home Page</a>
          <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{url_for('login.signout')}}">Signout</a>
        <div class="dropdown-divider"></div>
       
      <a class="dropdown-item" href="{{url_for('login.register')}}">Add new user</a>
        </div>

      </li>
    </ul>
    <form action="{{ url_for('admin.search') }}" method="POST" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Search" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

{%endblock%}

 {% block content %}

<div class="container p-3">
<h3>Cars clients are intersted in</h3>
    <div class="row">
        <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
 
        <h5 class="card-title">Car make: car_make</h5>
  
        <p class="card-text">Car model: car_model</p>
        </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Car reg num: car reg num</li>
        <li class="list-group-item">Registration Year: car reg year</li>
        <li class="list-group-item">Waranty: car warranty date</li>
    </ul>
  <h6>see full car info</h6>
 </div>

        </div>
        <div class="col-sm-6">
        <h3>client infomration</h3>
        <p>Client Name: client name</p>
        <p>Client Email: client name</p>
        <p>Client mobile</p>
        <p>best time to contact</p>
        <p>best way to contact</p>
        <p>Client Offer: client offer</p>
       

        </div>
    </div>
    </div>

{% if car_make and car_model and reg_num %}
<div class="container p-3 m-3">
    <div class="row">
    <div class="col-md-12">  
     <h6>Car registeration is already in proces, you are in middle of adding information to database:</h6>
     </div>
 
    <div class="col-md-12"><p>Car make: <strong>{{ car_make }}</strong></p></div>
    <div class="col-md-12"><p>Car model: <strong>{{ car_model }}</strong></p></div>
    <div class="col-md-12"><p>Car registraion number: <strong>{{ reg_num }}</strong> </p></div>
    <div class="col-md-12 ">

    <div class="col-md-6 m-2">
    <a href="{{ url_for('admin.finish_car_registration') }}" class="btn btn-dark btn-sm">Finish adding information</a>
    </div>
    <div class="col-md-6 m-2">
    <a href="{{ url_for('admin.end_car_reg_session') }}" class="btn btn-danger btn-sm">End that session</a>
    </div>
    
    </div>
    
    </div>
  
</div>
{% endif %}
{% if car_add_successfully %}
<div class="container">
<div class="row">
<div class="col-md-12">
<h6>{{car_add_successfully}}</h6>
</div>
</div>
</div>
{% endif %}
{%endblock%}
    
    
