{% extends 'admin_base.html' %}
{% block head %}Admin page{% endblock %}
  {% block content %}
  <!--This block of code will only execute when new car registration is in process and stopped-->
{% if car_make and car_model and reg_num %}
<div class="container">
<div class="row">
<div class="col s12">
<h6>Car registeration is already in proces, you are in middle of adding information to database:</h6>
</div>
 <div class="col s12"><p>Car make: <strong>{{ car_make }}</strong></p></div>
    <div class="col s2"><p>Car model: <strong>{{ car_model }}</strong></p></div>
    <div class="col s12"><p>Car registraion number: <strong>{{ reg_num }}</strong> </p></div>
    <div class="col s12 ">

    <div class="col s12">
    <a href="{{ url_for('admin.finish_car_registration') }}" class="btn btn-dark btn-sm">Finish adding information</a>
    </div>
    <div class="col-md-6 m-2">
    <a href="{{ url_for('admin.end_car_reg_session') }}" class="btn btn-danger btn-sm">End that session</a>
    </div>
    
    </div>
</div>
</div>
{% endif %}
<!--This message will only appear if car new car is added succesfully-->
{% if car_add_successfully %}
<div class="container">
<div class="row">
<div class="col s12">
<h6>{{car_add_successfully}}</h6>
</div>
</div>
</div>
{% endif %}
<!--Flashing server side messages in this block-->
{% with errors = get_flashed_messages(category_filter=["appiontment"]) %}
{% if errors %}
<div class="container">
<div class="row">
<div class="col s12">

    {%- for msg in errors %}
    <p class="lead" style="color: green; font-weight:normal; text-decoration: underline;">{{ msg }}</p>
    {% endfor -%}
  


</div>
</div>
</div>
{% endif %}
{% endwith %}
<!--Admin Dahsboard codes-->
<div class="section container">
<h2>Admin dashboard</h2><hr>
</div>
{% for clients in clients_info %}
{% if clients.dashboard_status == 'true' %}
<div class="section container" id="" style=""> 
 
    <div class="row">
        <!--Cat cliet is interested in infomation column-->
        <div class="col s12 m12 l5">
          <h3>Car Client is interesetd in</h3>
            {% if clients.car_status == 'car_is_sold' %}
            <p class="lead text-center" style="color:red; font-weight:bolder">This car is sold.</p>
            
            {% endif %}
        <div class="card hoverable">
        <div class="card-image">
          <img src="{{ clients.car_image_url }}">
          <span class="card-title">Car make: {{ clients.car_make }}</span>
        
        </div>
        <div class="card-content">
            <ul class="collection">
                <li class="collection-item">Car model: {{ clients.car_model }}</li>
                <li class="collection-item">Car reg num: {{ clients.reg_num }}</li>
                <li class="collection-item">Registration Year: {{ clients.registration_year }}</li>
            </ul>
        </div>
        
         <div class="card-action">
         {% if clients.car_status == 'car_is_sold' %}
            <a href="{{url_for('client_blueprint.sold_car_info', reg_num=clients.reg_num)}}" class="btn btn-dark btn-sm m-1">See full car info</a>
            <a href="{{url_for('client_blueprint.add_new_client')}}" class="btn btn-dark btn-sm m-1">Book different car for client</a>
            {% else %}
            <a href="{{url_for('client_blueprint.view', reg_num=clients.reg_num)}}" class="btn btn-dark btn-sm m-1">See full car info</a>
            <a href="{{url_for('admin.car_sold_form', reg_num=clients.reg_num, client_id=clients._id)}}" class="btn btn-sm bg-dark m-1" style="color: white;" >Car sold</a>
            {%endif%}
        </div>
        </div>

        
        </div>
        <!--Cliet infomation column-->
        <div class="col s12 m12 l5 offset-l2">
          <h3>Client information</h3>
            <div class="card blue-grey darken-1 hoverable" style="margin-top:0px">

                <div class="card-content white-text">
                <span class="card-title">Client Name: {{ clients.full_name }}</span> 
                <p>Client Instructions: {{clients.client_related_notes}}</p>
                </div>
                    <ul class="collapsible popout">
                        <li>
                        <div class="collapsible-header"><i class="fas fa-calendar-check"></i>Book an appiontment<i class="material-icons right">keyboard_arrow_down</i></div>
                        <div class="collapsible-body">
                        
                         <form class="" action="{{url_for('client_blueprint.add_appiontments_records')}}" id="appiontment_form{{ clients._id }}"  method="POST">
                        <input type="hidden" name="dashboard_status" value="true">
                        <input type="hidden" name="client_id" value="{{clients._id}}">
                        <input type="hidden" name="car_make" value="{{clients.car_make}}">
                        <input type="hidden" name="car_model" value="{{clients.car_model}}">
                        <input type="hidden" name="registration_year" value="{{clients.registration_year}}">
                        <input type="hidden" name="car_image_url" value="{{clients.car_image_url}}">
                        <input type="hidden" class="form-control" id="reg_num" name="reg_num" value="{{clients.reg_num}}" required>
                        <input type="hidden" class="form-control" id="best_time_to_contact" name="best_time_to_contact" value="{{clients.best_time_to_contact}}" required> 
                        <input type="hidden" class="form-control" id="best_date_to_contact" name="best_date_to_contact" value="{{clients.best_date_to_contact}}" required> 
                        
                        <div class="input-field">
                             <i class="material-icons prefix">account_circle</i>
                            <input type="text" class="validate" id="full_name" name="full_name" value="{{clients.full_name}}" readonly required>
                            <label for="full_name">Full name</label>
                        </div>

                        <div class="input-field">
                        <i class="material-icons prefix">email</i>
                            <input type="email" class="validate" id="email" name="email" value="{{clients.email}}" readonly  required>
                            <label for="email">Email</label>
                        </div>

                        <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input type="tel" class="validate" id="phone" name="phone" value="{{clients.phone}}" readonly  required> 
                        <label  for="phone">Telephone number</label>
                        </div>

                        <div class="input-field">
                        <i class="material-icons prefix">timer</i>
                        <input class="ml-5" type="time" id="appiontment_time" name="appiontment_time" value="{{clients.appiontment_time}}">
                        <label   for="best_time_to_contact">Appiontment time</label>
                        </div>
                        <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input class="ml-2" type="date" id="start" name="appiontment_date" value="{{clients.appiontment_date}}" min="2020-01-01" max="2022-12-31" required>
                        <label class="ml-2" for="start">Appiontment date:</label>
                        </div>

                        <div class="input-field">
                        <i class="material-icons prefix">mode_edit</i>
                        <label for="exampleFormControlTextarea1">Client related notes</label>
                        <textarea class="materialize-textarea" id="exampleFormControlTextarea1" name="client_related_notes" rows="3">{{clients.client_related_notes}}</textarea>
                        </div>  

                        <button class="waves-effect waves-light btn" type="submit" form="appiontment_form{{ clients._id }}" class="btn btn-sm btn-dark" >Make appiontment: {{ clients.full_name }}</button>
                        </form>
                        
                        </div>
                        </li>
                       

                    </ul>
                  <div class="card-content">
                    <ul class="collection">
                    <li class="collection-item">Client Email: {{ clients.email }}</li>
                    <li class="collection-item">Client phone: {{ clients.phone}}</li>
                    <li class="collection-item">Best time to contact: {{ clients.best_time_to_contact }}</li>
                    <li class="collection-item">Best date to contact: {{ clients.best_date_to_contact}}</li>
                        {% if clients.appiontment_time %}
                    <li class="collection-item">Appiontment time:{{clients.appiontment_time}}</li>
                    <li class="collection-item">Appiontment date: {{clients.appiontment_date}}</li>
                        {% else %}
                    <li class="collection-item pulse">
                    <a class="waves-effect waves-light btn red pulse">Appiontment time: Client has not been contacted yet</a></li>
                        {%endif%}
                </ul>
                </div>
                <div class="card-action">
                <a type="button" class="waves-effect waves-light btn modal-trigger custom-button" href="#modal{{ clients._id }}">Delete client</a>
                 <a type="button" class="waves-effect waves-light btn modal-trigger" href="#removeFromDashboard{{ clients._id }}">Remove client from dashboard</a>
                </div>
                </div>
    
        </div>
       
    </div>
    
</div>
       <!-- delete client Modal --> 
       <!-- Modal Structure -->
        <div class="modal" id="modal{{ clients._id }}" >
        <div class="modal-content">
            <h4>Delete Record</h4>
            <p>You are going to delete client name {{ clients.full_name }}.</p>
        </div>
        <div class="modal-footer">  
            <a class="modal-close teal white-text waves-effect waves-green btn-flat">Not now</a>
            <a class="btn btn-danger" href="{{url_for('admin.delete_client_admin_url', client_id=clients._id)}}">Delete: {{ clients.full_name }}</a>
        </div>
    </div>
 
<!-- Modal Remove client from dashboard -->
<div class="modal" id="removeFromDashboard{{ clients._id }}">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="removeFromDashboard{{ clients._id }}Label">Modal title</h4>
       <p>You are about to remove client name {{ clients.full_name }} from dashboard. You still can find and bring client to dahsboard.</p>
       <!-- </button>-->
      <div class="modal-footer">
        <button type="button" class="modal-close teal white-text waves-effect waves-green btn-flat">I am not sure!</button>
        <a href="{{url_for('client_blueprint.remove_from_dashboard', client_id=clients._id)}}" class="modal-close teal white-text waves-effect waves-green btn-flat">Yes I am sure!</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endfor %}
{%endblock%}
    
    
