{% extends 'admin_base.html' %}
{% block head %}Sell car form{% endblock %}
  {% block content %}
<div class="container admin-dashboard-container">
    <div class="row grey darken-4 valign-wrapper">
        <h3 class="white-text"><i class="fas fa-arrow-alt-circle-down red-text"></i> Selling car</h3>
    </div><hr class="container-bottom-hr-styling">
</div>
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons right"> keyboard_arrow_down</i> 
                        <i class="fas fa-car-side red-text" style="margin-left:5px;"></i>
                        {{sold_car.car_make}} {{sold_car.car_model}}, Registration number {{sold_car.reg_num}}
                    </div>
                    <div class="collapsible-body"><span><img class="responsive-img" src="{{ sold_car.car_image_url }}"></span></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h5>Fill in information below</h5>
    </div>
    
    <div class="row">
        <form class="col s12" action="{{url_for('admin.car_sold', car_id=sold_car._id)}}" method="POST">
            <div class="input-field col s12">
                <i class="material-icons prefix red-text">account_circle</i>
                <input type="text" class="form-control" id="full_name" name="full_name" value="{{client_info.full_name}}" required>
                <label for="exampleInputEmail1">Full name</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix red-text">email</i>
                <input type="email" class="form-control" id="email" name="email" value="{{client_info.email}}" required>
                <label for="email">Email <address></address></label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix red-text">phone</i>
                <input type="tel" class="form-control" id="phone" name="phone" value="{{client_info.phone}}"  required> 
                <label  for="phone">Telephone number</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix red-text">location_on</i>
                <input type="tel" class="form-control" id="address" name="address" required>
                <label  for="address">Address</label>
            </div>
            <div class="input-field col s12">
                        <i class="material-icons prefix red-text">money</i>
                        <input type="tel" class="form-control" id="sold_amount" name="sold_amount" value=""  required> 
                        <label  for="sold_amount">Sold_amount</label>
            </div>
            <!--Selling car hidden input fields-->
            <div class="row">
                <div class="input-field col s12">
                    <input type="hidden" name="car_status" value="car_is_sold">           
                    <input type="hidden" name="car_make" value="{{sold_car.car_make}}">            
                    <input type="hidden" name="car_model" value="{{sold_car.car_model}}">
                    <input type="hidden" name="reg_num" value="{{sold_car.reg_num}}">
                    <input type="hidden" name="body_type" value="{{sold_car.body_type}}">
                    <input type="hidden" name="exterior_colour" value="{{sold_car.exterior_colour}}">
                    <input type="hidden" name="gear_box" value="{{sold_car.gear_box}}">
                    <input type="hidden" name="fuel_type" value="{{sold_car.fuel_type}}">
                    <input type="hidden" name="is_ULEZ_compliant" value="{{sold_car.is_ULEZ_compliant}}">
                    <input type="hidden" name="warranty_expire_date" value="{{sold_car.warranty_expire_date}}">
                    <input type="hidden" name="registration_year" value="{{sold_car.registration_year}}">
                    <input type="hidden" name="mileage" value="{{sold_car.mileage}}">
                    <input type="hidden" name="transmisson" value="{{sold_car.transmisson}}">
                    <input type="hidden" name="seats" value="{{sold_car.seats}}">
                    <input type="hidden" name="drive_type" value="{{sold_car.drive_type}}">
                    <input type="hidden" name="engine" value="{{sold_car.engine}}">
                    <input type="hidden" name="alloy_wheels" value="{{sold_car.alloy_wheels}}">
                    <input type="hidden" name="metallic_paint" value="{{sold_car.metallic_paint}}">
                    <input type="hidden" name="bluetooth" value="{{sold_car.bluetooth}}">
                    <input type="hidden" name="climate_control" value="{{sold_car.climate_control}}">
                    <input type="hidden" name="seats_material" value="{{sold_car.seats_material}}">
                    <input type="hidden" name="cruise_control" value="{{sold_car.cruise_control}}">
                    <input type="hidden" name="DAB" value="{{sold_car.DAB}}">
                    <input type="hidden" name="ISOFIX_fittings" value="{{sold_car.ISOFIX_fittings}}">
                    <input type="hidden" name="rear_parking_sensors" value="{{sold_car.rear_parking_sensors}}">
                    <input type="hidden" name="start_stop_technology" value="{{sold_car.start_stop_technology}}">
                    <input type="hidden" name="top_Speed" value="{{sold_car.top_Speed}}">
                    <input type="hidden" name="acceleration" value="{{sold_car.acceleration}}">
                    <input type="hidden" name="engine_power" value="{{sold_car.engine_power}}">
                    <input type="hidden" name="fuel_tank_capacity" value="{{sold_car.fuel_tank_capacity}}">
                    <input type="hidden" name="boot_space" value="{{sold_car.boot_space}}">
                    <input type="hidden" name="length" value="{{sold_car.length}}">
                    <input type="hidden" name="vehicle_tax" value="{{sold_car.vehicle_tax}}">
                    <input type="hidden" name="insurance" value="{{sold_car.insurance}}">
                    <input type="hidden" name="fuel_consumption" value="{{sold_car.fuel_consumption}}">
                    <input type="hidden" name="car_original_price" value="{{sold_car.car_price}}">
                    <input type="hidden" name="car_image_url" value="{{sold_car.car_image_url}}">
                </div>
            </div>
            <!--Button here-->
            <div class="row">
                <div class="col s12">
                    <button class="waves-effect waves-light btn admin-custom-buttons" type="submit">Submit information <i class="material-icons right red-text">send</i></button>
                </div>
            </div>
        </form>
    </div>
</div>

  {%endblock%}