{% extends 'admin_base.html' %}
{% block head %}Car Search page{% endblock %}
{% block content %}

<!--Car make results found row-->
{% if car_make_results %}
<div class="container admin-dashboard-container">
    <div class="row grey darken-4 valign-wrapper">
            <h3 class="white-text"><i class="fas fa-search-plus red-text"></i> 
            {{car_make_results.count()}} Cars searched in car make {{ car_make_search.car_make }}</h3>
    </div><hr class="container-bottom-hr-styling">
</div>

<!--Make results found row-->
<div class="container">
    <div class="row">
        
    {% for result in car_make_results %}
    <div class="row">
    <h4>Find results:</h4><hr>
        <div class="col s12">
            <div class="row">
                <div class="card grey darken-4 hoverable">
                    <div class="card-image waves-effect waves-block waves-light card-image-padding">
                    <img class="activator" src="{{ result.car_image_url }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text text-darken-4">
                        {{result.car_make}} {{result.car_model}}<i class="material-icons red-text right">more_vert</i></span>
                          <ul class="collection">
                            <li class="collection-item admin-custom-li">Car Price {{result.car_price}}</li>
                            <li class="collection-item admin-custom-li">Car registration number {{result.reg_num}}</li>
                            <li class="collection-item admin-custom-li">Car registraion year {{result.registration_year}}</li>
                        </ul>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title red-text text-darken-4">
                        {{result.car_make}} {{result.car_model}} Reg-Num: {{result.reg_num}} summary
                        <i class="material-icons red-text right">close</i></span>
                        <div class="col s12">
                        <ul class="collection">
                            <li class="collection-item">Body type: {{result.body_type}}</li>
                            <li class="collection-item">Exterior colour: {{result.exterior_colour}}</li>
                            <li class="collection-item">Gear box: {{result.gear_box}}</li>
                            <li class="collection-item">Fuel type: {{result.fuel_type}}</li>
                            <li class="collection-item">Transmission: {{result.transmisson}}</li>
                            <li class="collection-item">Running mileage: {{result.mileage}}</li>
                            <li class="collection-item">Number of seats: {{result.seats}}</li>
                            <li class="collection-item">Car drive type: {{result.drive_type}}</li>
                        </ul>
                        </div>
                    </div>
                    <div class="card-action">
                        <!--Hiiden form for updating car-->
                        <div class="row" style="display:none;">
                            <form action="{{url_for('admin.update_options', registration_number='reg_num')}}" method="POST" id="make_search_form" name="make_search_form">
                                <input type="hidden" id="car_make" name="car_make" value="{{result.car_make}}">
                                <input type="hidden" id="car_model" name="car_model" value="{{result.car_model}}">
                                <input type="hidden" id="reg_num" name="reg_num" value="{{result.reg_num}}">
                            </form> 
                        </div>
                        <!--Car's CRUD operations buttons-->
                        <button form="make_search_form" class="btn waves-effect waves-red admin-secondary-custom-buttons" type="submit">
                          <i class="fas fa-edit red-text"></i> Update
                        </button>
                        <a href="{{url_for('admin.view', car_id=result._id)}}" class="btn waves-effect waves-red admin-secondary-custom-buttons">
                            <i class="fas fa-car-side red-text"></i> View Car
                        </a>
                        <a href="{{url_for('admin.car_sold_form', reg_num=result.reg_num)}}" class="btn waves-effect waves-red admin-secondary-custom-buttons" >
                            <i class="fas fa-money-check red-text"></i> Sell car
                        </a>
                        <a class="btn waves-effect waves-red admin-secondary-custom-buttons modal-trigger" href="#deleteModal{{result._id}}">
                            <i class="fas fa-trash-alt red-text"></i> Delete car
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <!-- Modal -->
    <div id="deleteModal{{result._id}}" class="modal">
        <div class="modal-content">
        <div class="row grey darken-4 white-text valign-wrapper">
            <h5 class="modal-title" style=" margin:5px 18px;"><i class="fas fa-trash-alt red-text"></i> Delete car data</h5>
        </div>
        <div class="row">
        <h6 style="padding:15px;">You are deleting information about this car from database.</h6>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close teal white-text waves-effect waves-green btn admin-custom-buttons"><i class="fas fa-times-circle red-text"></i> Not now</a>
            <a class="modal-close teal white-text waves-effect waves-green btn admin-custom-buttons" href="{{ url_for('admin.delete_car', car_id=result._id, reg_num=result.reg_num ) }}" >
            <i class="fas fa-trash-alt red-text"></i> Delete {{ result.reg_num }}</a>
        </div>
            
        </div>
        
    </div>
    </div>
    {% endfor %}
    </div>  
</div>
  <!--For no results in make results found row-->
{% elif car_make_search %}
<div class="container admin-dashboard-container">
    <div class="row grey darken-4 valign-wrapper">
        <h3 class="white-text"><i class="fas fa-search-minus red-text"></i> No Cars are seached in car make {{ car_make_search.car_make }}.</h3>
    </div><hr class="container-bottom-hr-styling">
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h5>At the moment there are no cars aviliable in showroom for car make {{ car_make_search.car_make }}.</h5>
        </div>
    </div>
</div>
  <!--Registration results found row-->
{% elif reg_results %}
<div class="container admin-dashboard-container">
    <div class="row grey darken-4 valign-wrapper">
            <h3 class="white-text"><i class="fas fa-search-plus red-text"></i> Registraion number {{reg_results.reg_num}} is searched.</h3>
    </div><hr class="container-bottom-hr-styling">
</div>
<div class="container">
  
    <div class="row">
      
        <div class="col s12">
            <div class="row">
                <div class="card grey darken-4 hoverable">
                    <div class="card-image waves-effect waves-block waves-light card-image-padding">
                    <img class="activator" src="{{ reg_results.car_image_url }}">
                    
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text text-darken-4">
                            {{reg_results.car_make}} {{reg_results.car_model}}
                            <i class="material-icons red-text right">more_vert</i>
                        </span>
                          <ul class="collection">
                            <li class="collection-item admin-custom-li">Car Price {{reg_results.car_price}}</li>
                            <li class="collection-item admin-custom-li">Car registration number {{reg_results.reg_num}}</li>
                            <li class="collection-item admin-custom-li">Car registraion year {{reg_results.registration_year}}</li>
                        </ul>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title red-text text-darken-4">{{reg_results.car_make}} {{reg_results.car_model}} Reg-Num: {{reg_results.reg_num}} summary<i class="material-icons red-text right">close</i></span>
                        <div class="col s12">
                        <ul class="collection">
                            <li class="collection-item">Body type: {{reg_results.body_type}}</li>
                            <li class="collection-item">Exterior colour: {{reg_results.exterior_colour}}</li>
                            <li class="collection-item">Gear box: {{reg_results.gear_box}}</li>
                            <li class="collection-item">Fuel type: {{reg_results.fuel_type}}</li>
                            <li class="collection-item">Transmission: {{reg_results.transmisson}}</li>
                            <li class="collection-item">Running mileage: {{reg_results.mileage}}</li>
                            <li class="collection-item">Number of seats: {{reg_results.seats}}</li>
                            <li class="collection-item">Car drive type: {{reg_results.drive_type}}</li>
                        </ul>
                        </div>
                    </div>
                    <div class="card-action">
                        <!--Hiiden form for updating car-->
                        <div class="row" style="display:none;">
                            <form action="{{url_for('admin.update_options')}}" method="POST" id="make_search_form" name="make_search_form">
                                <input type="hidden" id="car_make" name="car_make" value="{{reg_results.car_make}}">
                                <input type="hidden" id="car_model" name="car_model" value="{{reg_results.car_model}}">
                                <input type="hidden" id="reg_num" name="reg_num" value="{{reg_results.reg_num}}">
                            </form> 
                        </div>
                        <!--Car's CRUD operations buttons-->
                        <button form="make_search_form" class="btn waves-effect waves-red admin-secondary-custom-buttons" type="submit">
                          <i class="fas fa-edit red-text"></i> Update
                        </button>
                        <a href="{{url_for('admin.view', car_id=reg_results._id)}}" class="btn waves-effect waves-red admin-secondary-custom-buttons">
                            <i class="fas fa-car-side red-text"></i> View Car
                        </a>
                        <a href="{{url_for('admin.car_sold_form', reg_num=reg_results.reg_num)}}" class="btn waves-effect waves-red admin-secondary-custom-buttons" >
                            <i class="fas fa-money-check red-text"></i> Sell car
                        </a>
                        <a class="btn waves-effect waves-red admin-secondary-custom-buttons modal-trigger" href="#deleteModal{{reg_results._id}}">
                            <i class="fas fa-trash-alt red-text"></i> Delete car
                        </a>
                    </div>
           
            </div>
        </div>
    <!-- Modal -->
      <div id="deleteModal{{reg_results._id}}" class="modal">
        <div class="modal-content">
        <div class="row grey darken-4 white-text valign-wrapper">
            <h5 class="modal-title" style=" margin:5px 18px;"><i class="fas fa-trash-alt red-text"></i> Delete car data</h5>
        </div>
        <div class="row">
        <h6 style="padding:15px;">You are deleting information about this car from database.</h6>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close teal white-text waves-effect waves-green btn admin-custom-buttons"><i class="fas fa-times-circle red-text"></i> Not now</a>
            <a class="modal-close teal white-text waves-effect waves-green btn admin-custom-buttons" href="{{ url_for('admin.delete_car', car_id=reg_results._id, reg_num=reg_results.reg_num ) }}" >
            <i class="fas fa-trash-alt red-text"></i> Delete {{ reg_results.reg_num }}</a>
        </div>
            
        </div>
        
    </div>
    </div>

    </div>  
</div>
<!--
    Model results are here
-->
{% elif model_results %} 
<div class="container admin-dashboard-container">
    <div class="row grey darken-4 valign-wrapper">
            <h3 class="white-text"><i class="fas fa-search-plus red-text"></i> 
                {{model_results.count()}} Cars are searched in 
                {{ car_model_search.car_make }} {{ car_model_search.car_model}}  
            </h3>
    </div><hr class="container-bottom-hr-styling">
</div>

<div class="container">
{% for result in model_results %}
    <div class="row">
    <h4>Find Results:</h4><hr>
        <div class="col s12">
            <div class="row">
                <div class="card grey darken-4 hoverable">
                    <div class="card-image waves-effect waves-block waves-light card-image-padding">
                    <img class="activator" src="{{ result.car_image_url }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text text-darken-4">
                        {{result.car_make}} {{result.car_model}}<i class="material-icons red-text right">more_vert</i></span>
                          <ul class="collection">
                            <li class="collection-item admin-custom-li">Car Price {{result.car_price}}</li>
                            <li class="collection-item admin-custom-li">Car registration number {{result.reg_num}}</li>
                            <li class="collection-item admin-custom-li">Car registraion year {{result.registration_year}}</li>
                        </ul>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title red-text text-darken-4">
                        {{result.car_make}} {{result.car_model}} Reg-Num: {{result.reg_num}} summary
                        <i class="material-icons red-text right">close</i></span>
                        <div class="col s12">
                        <ul class="collection">
                            <li class="collection-item">Body type: {{result.body_type}}</li>
                            <li class="collection-item">Exterior colour: {{result.exterior_colour}}</li>
                            <li class="collection-item">Gear box: {{result.gear_box}}</li>
                            <li class="collection-item">Fuel type: {{result.fuel_type}}</li>
                            <li class="collection-item">Transmission: {{result.transmisson}}</li>
                            <li class="collection-item">Running mileage: {{result.mileage}}</li>
                            <li class="collection-item">Number of seats: {{result.seats}}</li>
                            <li class="collection-item">Car drive type: {{result.drive_type}}</li>
                        </ul>
                        </div>
                    </div>
                    <div class="card-action">
                        <!--Hiiden form for updating car-->
                        <div class="row" style="display:none;">
                            <form action="{{url_for('admin.update_options')}}" method="POST" id="make_search_form" name="make_search_form">
                                <input type="hidden" id="car_make" name="car_make" value="{{result.car_make}}">
                                <input type="hidden" id="car_model" name="car_model" value="{{result.car_model}}">
                                <input type="hidden" id="reg_num" name="reg_num" value="{{result.reg_num}}">
                            </form> 
                        </div>
                         <!--Car's CRUD operations buttons-->
                        <button form="make_search_form" class="btn waves-effect waves-red admin-secondary-custom-buttons" type="submit">
                          <i class="fas fa-edit red-text"></i> Update
                        </button>
                        <a href="{{url_for('admin.view', car_id=result._id)}}" class="btn waves-effect waves-red admin-secondary-custom-buttons">
                            <i class="fas fa-car-side red-text"></i> View Car
                        </a>
                        <a href="{{url_for('admin.car_sold_form', reg_num=result.reg_num)}}" class="btn waves-effect waves-red admin-secondary-custom-buttons" >
                            <i class="fas fa-money-check red-text"></i> Sell car
                        </a>
                        <a class="btn waves-effect waves-red admin-secondary-custom-buttons modal-trigger" href="#deleteModal{{result._id}}">
                            <i class="fas fa-trash-alt red-text"></i> Delete car
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <!-- Modal -->
    <div id="deleteModal{{result._id}}" class="modal">
        <div class="modal-content">
            <div class="row grey darken-4 white-text valign-wrapper">
                <h5 class="modal-title" style=" margin:5px 18px;"><i class="fas fa-trash-alt red-text"></i> Delete car data</h5>
            </div>
            <div class="row">
                <h6 style="padding:15px">You are deleting information about this car from database.</h6>
            </div>
      
            <div class="modal-footer">
                <a href="#!" class="modal-close teal white-text waves-effect waves-green btn admin-custom-buttons"><i class="fas fa-times-circle red-text"></i> Not now</a>
                <a class="modal-close teal white-text waves-effect waves-green btn admin-custom-buttons" href="{{ url_for('admin.delete_car', car_id=result._id, reg_num=result.reg_num ) }}" >
                <i class="fas fa-trash-alt red-text"></i> Delete {{ result.reg_num }}</a>
           
            </div>
            </div>
            
            
            </div>
        
        </div>
{% endfor %}
</div>

{% elif car_model_search %} 

 <div class="container admin-dashboard-container">
<div class="row grey darken-4 valign-wrapper">
    <h3 class="white-text"><i class="fas fa-search-minus red-text"></i> No car available in {{ car_model_search.car_model}}</h3>
    
    </div><hr class="container-bottom-hr-styling">
</div>
<div class="container p-4">
    <div class="row">
        <div class="col s12">
            <h5>At the moment there are no cars aviliable in showroom for {{ car_model_search.car_make }} {{ car_model_search.car_model }}.</h5>
        </div>
    </div>
</div>

    {% else %}
<div class="container admin-dashboard-container">
    <div class="row grey darken-4 valign-wrapper">
        <h3 class="white-text"><i class="fas fa-search-minus red-text"></i> No results found in search you made.</h3>
        </div>
    <hr class="container-bottom-hr-styling">
    </div>
<div class="container p-4">
    <div class="row">
        <div class="col s12">
            <h5>Please check keywords for your search. No car found related to keyword you have searched.</h5>
        </div>
    </div>
</div>


{% endif %}


{%endblock%}

 
 