{% extends 'base.html' %} 
 {% block admin_content %}
   
      <ul class="navbar-nav mr-auto">  
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Cars</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('admin.add_car_company')}}">Add Car Make/Model</a>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('admin.update_car_info')}}">Edit existing Car Make/Model/info</a>
        </div>
      </li> 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="add_new_car" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new car
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for results in admin_cars_make %}
        <a class="dropdown-item" href="{{url_for('admin.add_new_car', car_make=results.car_make)}}">{{results.car_make}}</a>
        <div class="dropdown-divider"></div>
       {% endfor %}
        </div>
      </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="admin_logged_in" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Logged-In
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('admin.admin_homepage')}}">Admin Home Page</a>
          <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{url_for('login.signout')}}">Signout</a>
        <div class="dropdown-divider"></div>
       
      <a class="dropdown-item" href="{{url_for('login.register')}}">Add new user</a>
        </div>

      </li>
    </ul>
    <form action="{{ url_for('admin.search') }}" method="POST" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Search" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

{%endblock%}

{% block content %}

<div class="container p-2 mt-4">
<form action="{{ url_for('admin.car_update_page') }}" name="update_starter_page"  method="POST">
<div class="row">

<div class="col-sm-4">
       <label for="car-make">Car Make</label>
    <select class="custom-select form-control-lg" id="car_make" required>
           <option value="{{ car_coll.car_make }}">{{ car_coll.car_make }}</option>
        </select>
</div>
<div class="col-md-8">
  <label for="reg_no">Registration Number</label>
  <select class="custom-select form-control-lg" id="reg_num" name="old_reg_num" required>
  <option value="{{ car_coll.reg_num }}">{{ car_coll.reg_num }}</option>
    <input type="hidden" id="hiddenId" name="hiddenCarId" value="{{ car_coll._id}}">
      </select>
</div>
<div class="col-sm-12 mt-4">
<a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">Delete car</a>
</div>
<div class="col-md-12">
<p class="p-2 m-2">Please select changes you want to make. Please make sure change registraion number here if you want to change</p><hr>
</div>
<div class="col-sm-4 mt-4">
       <label for="car-make">Car Make</label>
    <select class="custom-select form-control-lg" id="new_car_make" name="car_make" required>
    <option value="{{ car_coll.car_make }}" selected>{{ car_coll.car_make }}</option>
    {% for results in car_make_results %}
           <option value="{{ results.car_make }}">{{ results.car_make }}</option>
    {% endfor %}
        </select>
</div>
<div class="col-md-8 mt-4">
{% if new_reg_num %}
 <label for="reg_no">Fill-in new registration number if you want to update</label>
      <input class="form-control" id="new_reg_num" name="reg_num" value="{{ new_reg_num }}" type="text" required>  
 {% else %}
 <label for="reg_no">Fill-in new registration number if you want to update</label>
      <input class="form-control" id="new_reg_num" name="reg_num" value="{{ car_coll.reg_num }}" type="text" required> 
 {% endif %}
   
    
</div>

<div class="col-sm-12 mt-4">
    <button class="btn btn-primary btn-sm" type="submit">
      Update Car <i class="fas fa-plus"></i> <i class="fas fa-car"></i>
        </button>
  </div>
</div>

</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
   
  {% endif %}
{% endwith %}
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
        <a class="btn btn-danger" href="{{ url_for('admin.delete_car', car_id=car_coll._id, reg_num=car_coll.reg_num ) }}" >Delete: {{ car_coll.reg_num }}</a>
       
      </div>
    </div>
  </div>
</div>

{%endblock%}