{% extends 'admin_base.html' %}
{% block content %}
<!--Car Basic information-->



<div class="container">
<h2><i class="far fa-edit"></i>Edit existing car information</h2>
<div class="row">
<h5>Please enter car registration number you want to update.</h5>
                                                                  <!--I am sending this reg_num in url to ditinguish this template request from server side url generate to continue update process with reg_num session -->  
    <form class="form" action="{{url_for('admin.update_options', registration_number='reg_num')}}" method="POST">
        <div class="input-field col s12">
            <label for="car_reg_num" class="">Car Registration Number</label>
                <input type="search" class="form-control" id="reg_num" name="reg_num"  placeholder="Registration number" required>
              
            </div>
        <div class="col s12">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
    </form>
</div>
<div class="row">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
   
  {% endif %}
{% endwith %}
 </div>

</div>




<script>

</script>
{%endblock%}