{% extends 'base.html' %}
 {% block admin_content %}
   
      <ul class="navbar-nav mr-auto">  
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Cars</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('admin.add_car_company')}}">Add Car Make/Model</a>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('admin.update_car_info')}}">Edit existing Car Make/Model/info</a>
        </div>
      </li> 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="add_new_car" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new car
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for results in admin_cars_make %}
        <a class="dropdown-item" href="{{url_for('admin.add_new_car', car_make=results.car_make)}}">{{results.car_make}}</a>
        <div class="dropdown-divider"></div>
       {% endfor %}
        </div>
      </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="admin_logged_in" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Logged-In
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Admin Home Page</a>
          <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{url_for('login.signout')}}">Signout</a>
        <div class="dropdown-divider"></div>
       
      <a class="dropdown-item" href="{{url_for('login.register')}}">Add new user</a>
        </div>

      </li>
    </ul>
    <form action="{{ url_for('admin.search') }}" method="POST" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Search" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

{%endblock%}
{% block content %}
<!--Car Basic information-->


<h3><i class="far fa-edit"></i>Edit Existing Car Information</h3>
<div class="container">
<div class="row">
    <div class="col-md-12">
<form class="form" action="{{url_for('admin.update_options')}}" method="POST">

  <div class="form-group mr-4 mb-2">
    <label for="car_reg_num" class="">Car Registration Number</label>
    <input type="search" class="form-control" id="reg_num" name="reg_num"  placeholder="Registration number" required>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form></div>
<div class="row">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
   
  {% endif %}
{% endwith %}
 </div>

</div>

</div>


<script>

</script>
{%endblock%}