{% extends 'admin_base.html' %}
{% block head %}View all cars{% endblock %}
{% block content %}

<div class="container admin-dashboard-container">
    <div class="row grey darken-4 valign-wrapper">
        <h3 class="white-text"><i class="fas fa-hand-point-down red-text"></i> View All CArs</h3>
    </div><hr class="container-bottom-hr-styling">


{% with errors = get_flashed_messages(category_filter=["delete_flash"]) %}
{% if errors %}
<div class="row alert-message block-message error">
  
 
    {%- for msg in errors %}
    <p class="lead" style="color:green; font-weight::bold;">{{ msg }}</p>
    {% endfor -%}
  
 </div><hr>
{% endif %}
{% endwith %}
<table id="sold-cars">
        <thead>
          <tr>
              <th>Car Make</th>
              <th>Car Model</th>
              <th>Care Registration Number</th>
              <th>Operations</th>
          </tr>
        </thead>


{% for cars in all_cars |sort (reverse=false, attribute="car_make")%}
    <tbody>  
    <tr>
        <td>{{cars.car_make}}</td>
        <td>{{cars.car_model}}</td>
        <td>{{cars.reg_num}}</td>
        <td>
            <a class="btn waves-effect waves-red admin-secondary-custom-buttons btn-small" href="{{url_for('client_blueprint.view', reg_num=cars.reg_num)}}">
                <i class="fas fa-info-circle red-text"></i> See all info
            </a>
            <a class="btn waves-effect waves-red admin-secondary-custom-buttons modal-trigger btn-small" href="#modal{{ cars._id }}">
                <i class="fas fa-trash-alt red-text"></i> Delete info
            </a>
              
        </td>
    </tr>        
        </tbody>
        <div class="modal" id="modal{{ cars._id }}" >
    <div class="modal-content">
        <div class="row grey darken-4 white-text valign-wrapper">
            <h5 style=" margin:5px 18px;"><i class="fas fa-trash-alt red-text"></i> Delete Record</h5>
        </div>
        <div class="row">
            <p>You are deleting data of car registraion{{ cars.reg_num}}.</p>
        </div>
        <div class="modal-footer">  
            <a class="modal-close white-text waves-effect waves-green btn admin-custom-buttons"><i class="fas fa-times-circle red-text"></i> Not now</a>
            <a class="btn white-text waves-effect waves-green btn admin-custom-buttons" href="{{ url_for('admin.admin_delete_car', car_id=cars._id, reg_num=cars.reg_num ) }}">
            <i class="fas fa-trash-alt red-text"></i> Delete: {{ cars.reg_num }}</a>
        </div>
     </div> 
</div>
  {% endfor %}   

     
</table>
<div class="row">
    <div class="col s12">
        <a href="{{url_for('admin.admin_homepage')}}" class="waves-effect waves-light btn admin-custom-buttons">
        <i class="fas fa-hand-point-left red-text"></i> Go back to Admin dashboard</a>
    </div>
</div>


{%endblock%}

