{% extends 'base.html' %} {% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark custom_nav">
  <a class="navbar-brand" href="#">Admin Loged-In</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">   
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Cars 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{url_for('add_car_company')}}">Add Car Make/Model</a>
        <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{url_for('update_car_info')}}">Edit existing Car Make/Model/info</a>
        </div>
      </li>
    </ul>
      <ul class="navbar-nav mr-auto">   
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="add_new_car" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new car
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for results in cars_make %}
        <a class="dropdown-item" href="{{url_for('add_new_car', car_make=results.car_make)}}">{{results.car_make}}</a>
        <div class="dropdown-divider"></div>
       {% endfor %}

        </div>
      </li>
    </ul>
    
  </div>

  
</nav>
</header>
<div class="container p-3">
<h3 class="">{{ car_make }}</h3>
<form action="{{ url_for('reg_verification', car_make=car_make) }}" name="add_car_details" method="POST">
  <div class="form-row">
  
    <div class="col-md-6">
    <label for="reg_no">New Car Registration Number</label>
      <input class="form-control form-control-lg" id="reg_num" name="reg_num" type="text" placeholder="registration number" required>
    </div>
   <div class="col-md-6">
   <label for="car_model">Select Model</label>
      <select class="form-control form-control-lg" id="car_model" name="car_model" required>
      {% for results in car_models %}
        <option value="{{ results.car_model }}">{{ results.car_model }}</option>
        {% endfor %}
        </select>
    </div>
  </div>
     <div class="col-md-12 m-3">
     <button type="submit" class="btn btn-primary btn-lg">Submit</button>
     </div>  
</form>

</div>
<script>
//document.getElementById("car_model").setCustomValidity("No models aviliable, please go to manage car and add model");

</script>
{%endblock%}