{% extends 'base.html' %} 
{% block content %}
<!--Car Basic information-->
<div class="container">
<h3 class="mt-3"><i class="far fa-caret-square-right"></i> Basic car informaiton </h3><hr>
<h4>{{ car_makers.car_make }}</h4>
<form action="{{ url_for('add_car') }}" name="add_new_car" id="add_new_car" method="POST">
  <div class="row mt-2">
    <div class="col-sm-4">
       <label for="car-make"><i class="fas fa-marker"></i> Car Model</label>
      <select class="custom-select" id="car_make" name="car_make" required>
        <option selected disabled value="">Car Model</option>
        {% for models in car_models %}
        <option value="{{ models.car_make }}">{{ models.car_model }}</option>
        {%  endfor %}
      </select>
    </div>
    <div class="col-sm-4">
    <label for="">Car model</label>
      <input type="text" id="car_model" name="" class="form-control" placeholder="">
    </div>
      <div class="col-sm-4">
      <label for="reg_num">Car registration number</label>
      <input type="text" id="reg_num" name="reg_num" class="form-control" placeholder="registration no">
    </div>
  </div>

  <div class="row mt-2">
  <div class="col-sm-4">
    <label for="body_type">Body type</label>
      <input type="text" id="body_type" name="body_type" class="form-control" placeholder="5 door hatchback">
  </div>
  <div class="col-sm-4">
    <label for="exterior_colour">Exterior colour</label>
      <input type="text" id="exterior_colour" name="exterior_colour" class="form-control" placeholder="black">
  </div>
  <div class="col-sm-4">
    <label for="gear_box">Gear box</label>
      <input type="text" id="gear_box" name="gear_box" class="form-control" placeholder="automatic, 7 speed">
  </div>
  </div>

  <div class="row mt-2">
  <div class="col-sm-4">
  <label for="fuel_type">Fuel type</label>
       <select class="custom-select" id="fuel_type" name="fuel_type" required>
        <option selected disabled value="">Fuel type</option>
        <option value="petrol">Petrol</option>
        <option value="deisel">Deisel</option>
        <option value="gas">Gas</option>
        <option value="electric">Electric</option>
        <option value="hybird">Hybird</option>
      </select>
   
  </div>
  <div class="col-sm-4">
    <label>ULEZ compliant</label>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" name="is_ULEZ_compliant" id="is_ULEZ_compliant">
        <label class="custom-control-label" for="is_ULEZ_compliant">yes/no</label>
    </div>
  </div>
  <div class="col-sm-4">
     <label for="warranty_expire_date">Warranty expires</label><br>
      <input type="date" id="warranty_expire_date" name="warranty_expire_date">
  </div>
  </div>
  
  <div class="row mt-2">
  <div class="col-sm-4">
  <label for="registration_year">Registration year</label>
      <input type="text" id="registration_year" name="registration_year" class="form-control" placeholder="2016">
   
  </div>
  <div class="col-sm-4">
    <label for="mileage">Mileage</label>
      <input type="text" id="mileage" name="mileage" class="form-control" placeholder="3576">
  </div>
  <div class="col-sm-4">
     <label for="transmisson">Transmission</label><br>
        <select class="custom-select" id="transmisson" name="transmisson" required>
        <option selected disabled value="">Transmission</option>
        <option value="manual">manual</option>
        <option value="automatic">automatic</option>
       
      </select>
  </div>
  </div>
 
  <div class="row mt-2">
  <div class="col-sm-4">
  <label for="seats">Seats</label>
      <input type="text" id="seats" name="seats" class="form-control" placeholder="5 seats">
   
  </div>
  <div class="col-sm-4">
    <label for="engine_power">Engine Power</label>
      <input type="text" id="engine_power" name="engine_power" class="form-control" placeholder="1L">
  </div>
  <div class="col-sm-4">
     <label for="drive_type">Drive Type</label><br>
       <input type="text" id="drive_type" name="drive_type" class="form-control" placeholder="Front wheel drive">
  </div>
  </div>
   <hr>
  <div class="row mt-5">
  <div class="col-sm-12 text-center">
    <button class="btn btn-primary" type="submit">
      Add New Car <i class="fas fa-plus"></i> <i class="fas fa-car"></i>
        </button>
  </div>

  </div>
 
</form>
 {% with messages = get_flashed_messages() %} 
    {% if messages %}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %} 
{% endwith %}
</div>

{%endblock%}