{% extends 'base.html' %}
  {% block admin_content %}
   
      <ul class="navbar-nav mr-auto">  
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Cars</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('add_car_company')}}">Add Car Make/Model</a>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('update_car_info')}}">Edit existing Car Make/Model/info</a>
        </div>
      </li> 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="add_new_car" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new car
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for results in admin_cars_make %}
        <a class="dropdown-item" href="{{url_for('add_new_car', car_make=results.car_make)}}">{{results.car_make}}</a>
        <div class="dropdown-divider"></div>
       {% endfor %}
        </div>
      </li>
    </ul>
    <form action="{{ url_for('search') }}" method="POST" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Search" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

{%endblock%}

 {% block content %}

<div class="container p-3">
<h3>Cars clients are intersted in</h3>
    <div class="row">
        <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
 
        <h5 class="card-title">Car make: car_make</h5>
  
        <p class="card-text">Car model: car_model</p>
        </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Car reg num: car reg num</li>
        <li class="list-group-item">Registration Year: car reg year</li>
        <li class="list-group-item">Waranty: car warranty date</li>
    </ul>
  <h6>see full car info</h6>
 </div>

        </div>
        <div class="col-sm-6">
        <h3>client infomration</h3>
        <p>Client Name: client name</p>
        <p>Client Email: client name</p>
        <p>Client mobile</p>
        <p>best time to contact</p>
        <p>best way to contact</p>
        <p>Client Offer: client offer</p>

        </div>
    </div>
    </div>

<div class="container p-3 m-3">
 {% with messages = get_flashed_messages(category_filter=["reg_num"]) %} 
 {% if messages %}
   
            {% for message in messages %}
            <p  class="lead para-custom-style p-3 m-3">{{ message }}</p>
            {% endfor %}
       
        {% endif %} 
        {% endwith %}
</div>

 {% with messages = get_flashed_messages() %} {% if messages %}
       
            {% for message in messages %}
            <p class="lead para-custom-style p-3 m-3">{{ message }}</p>
            {% endfor %}
      
        {% endif %} {% endwith %}


{%endblock%}
    
    
