<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/60ca92335a.js" crossorigin="anonymous"></script>
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/login_style.css')}}">-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
 {% block head %} {% endblock %}
    <title>Cars Sales Showroom</title>
  </head>
  <body id="home" class="scrollspy">
 
<header id="materialise-side-navbar" >
<!-- navbar content here  --> 
<div class="navbar-fixed">
    <nav class="teal">
        <div class="contianer">     
            <div class="nav-wrappper">            
                <a  class="brand-logo" href="{{url_for('index')}}">
                <img class="logo_image"  src="{{url_for('static', filename='img/logo.svg')}}">
                </a>
                <a href="#" class="sidenav-trigger" data-target="slide_out">
                    <i class="material-icons">menu</i>
                </a>
            <ul class="hide-on-med-and-down right">
                <li><a href="{{ url_for('login.admin_login') }}">Admin-Login</a></li>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>
    <ul class="sidenav" id="slide_out">
        <li><a href="{{ url_for('login.admin_login') }}">Admin-Login<i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="{{url_for('index')}}"><i class="material-icons">home</i>Home</a></li>
        <li><a href=""><i class="material-icons">public</i>Services</a></li>
        <li><a href=""><i class="material-icons">group</i>About us</a></li>
        <li><a href=""><i class="material-icons">email</i>Contact us</a></li>
    </ul>      
</header>
{% block content %}

    

{%endblock%}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script>
    //Initialising side nav with materialize
    const slide_menu= document.querySelector(".sidenav");
    M.Sidenav.init(slide_menu,{});
//Slider
  const slider = document.querySelector('.slider');
  M.Slider.init(slider, {
      indicators: false,
      height: 600,
      transition: 500,
      interval: 6000
  });
 //material boxed
  const mb = document.querySelectorAll('.materialboxed');
  M.Materialbox.init(mb,{})

   const ss = document.querySelectorAll('.scrollspy');
  M.Scrollspy.init(ss,{})
    </script>
    
  </body>
</html>