{% extends 'base.html' %} 
 {% block head %}Booking test drive{% endblock %}
{% block content %}


<div class="container">
<h2>Booking a test drive:</h2>
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12 center-align">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                        <i class="material-icons right red-text"> keyboard_arrow_down</i> 
                        <i class="fas fa-car-side red-text" style="margin-left:5px;"></i>
                        {{car_info.car_make}} {{car_info.car_model}}, Registration number {{car_info.reg_num}}
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12">
                             
                                <img class="materialboxed responsive-img" src="{{ car_info.car_image_url }}">
                          
                            </div>
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col s8">
    {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li><h6 class="flow-text">{{ message }}</h6></li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </div>
</div>
<div class="row">
<div class="col s12">
<h4>Plese give you details:</h4><hr>
</div>
    <form action="{{url_for('user_book_test_request', car_id=car_info._id)}}" method="POST">

    <input type="hidden" name="dashboard_status" value="true">

    <div class="input-field col s12">
        <i class="material-icons prefix red-text">account_circle</i>
        <input type="text" class="validate" id="full_name" name="full_name" aria-describedby="emailHelp" required>
        <label for="exampleInputEmail1">Full name</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix red-text">email</i>
        <input type="email" class="validate" id="email" name="email" required>
        <label for="email">Email <address></address></label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix red-text">phone</i>
        <input type="tel" class="validate" id="phone" name="phone" required>
        <label  for="phone">Telephone number</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix red-text">timer</i>
        <input class="ml-5" type="time" id="best_time_to_contact" name="best_time_to_contact">
        <label for="best_time_to_contact">Best time to contact</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix red-text">date_range</i>
        <input class="ml-5" type="date" id="best_date_to_contact" name="best_date_to_contact" value="DateTime.Now.Day" min="2020-08-08" max="2021-12-31">
        <label class="ml-5" for="start">Select date:</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix red-text">favorite_border</i>
        <select class="validate" required>
            <option value="1">Telephone call <i class="material-icons prefix">phone</i></option>
            <option value="2">email </option>
        </select>
        <label for="email">Best way to contact</label>
    </div>
    <div class="input-field col s12">
            <i class="material-icons red-text prefix">mode_edit</i>
          <textarea id="textarea1" class="materialize-textarea" name="client_related_notes"></textarea>
          <label for="textarea1">Textarea</label>
        </div>

        <input type="hidden" name="appiontment_time" value="">
        <input type="hidden" name="appiontment_date" value="">
        <input type="hidden" name="car_make" value="{{car_info.car_make}}">
        <input type="hidden" name="car_model" value="{{car_info.car_model}}">
        <input type="hidden" name="reg_num" value="{{car_info.reg_num}}">
        <input type="hidden" name="registration_year" value="{{car_info.registration_year}}">
        <input type="hidden" name="car_image_url" value="{{car_info.car_image_url}}">
 

    <button type="submit" class="btn custom_btn"><i class="fas fa-car-side white-text" style="margin-left:5px;"></i> Book your test drive</button>

</form>
</div>

</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    options = {};
    var instances = M.Collapsible.init(elems, options);
  });
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    options = {};
    var instances = M.FormSelect.init(elems, options);
  });
</script>
{%endblock%}