{% extends 'base.html' %} 
{% block content %}

<div class="container">
<div class="row">
  {% for car in cars %}
  <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="{{car.car_image}}" class="card-img-top img-fluid" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{car.car_make}} {{car.car_model}}</h5>
    <p class="card-text">{{car.engine}}</p>
    <div class="row">
    <span class="ml-2">{{car.mileage}} </span>
     <span class="ml-3">{{car.reg_year}}</span>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
    <div class="row">
        <div class="col-md-4 text-left"> <strong>{{car.car_price}}</strong></div>
        <div class="col-md-8 text-right"> <span> {{car.installment_plan}}</span></div>
    </div>
    </li>
   </ul>
  <div class="card-body col text-center">
    <a href="#" class="card-link btn btn-primary btn-lg text-center">Card link</a>
  </div>
</div>
</div>
  {% endfor %}
</div>
</div>
{%endblock%}
