{% extends 'base.html' %} {% block content %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark custom_nav">
    <a class="navbar-brand" href="#">Admin Loged-In</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Manage Cars
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('add_car_company')}}"
              >Add Car Make/Model</a
            >
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="add_new_car"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Add new car
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for results in cars_make %}
            <a
              class="dropdown-item"
              href="{{url_for('add_new_car', car_make=results.car_make)}}"
              >{{results.car_make}}</a
            >
            <div class="dropdown-divider"></div>
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<h1>make_search.html</h1>
<h1>{{ car_make_search.car_make }}</h1>
<div class="container p-2">
  <div class="row">
    <div class="col-md-3"><h6>Car Make</h6> </div>
    <div class="col-md-3"><h6>Car Model</h6></div>
    <div class="col-md-3"><h6>Car Registration Number</h6></div>
    <div class="col-md-3"><h6>Database Operations</h6></div>
    {% for result in results %}
    <div class="col-md-3">
      <p>{{result.car_make}}</p>
    </div>
    <div class="col-md-3">
      <p>{{result.car_model}}</p>
    </div>
    <div class="col-md-3">
      <p>{{result.reg_num}}</p>
    </div>
    <div class="col-md-3"> <a href="{{url_for('update_car_info', car_id=result._id)}}">update</a> 
    
    <a href="">delete</a> </div>
    
    {% endfor %}
  </div>
  
</div>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %} {%endblock%}
