{% extends 'base.html' %} 
{% block content %}
<div class="container p-2">

<h1>Searching...</h1>
<div class="row">

<div class="col-sm-6">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
 
    <h5 class="card-title">{{ results.car_make }}</h5>
  
    <p class="card-text">{{ results.car_model }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ results.reg_num }}</li>
    <li class="list-group-item">Registration Year: {{ results.registration_year }}</li>
    <li class="list-group-item">Waranty: {{ results.warranty_expire_date }}</li>
  </ul>
 </div>
 </div>


</div>
</div>
{%endblock%}