{% extends 'base.html' %} 
{% block content %}

<div class="container">
<div class="row">
  {% for car in cars %}
  <div class="col-md-4">
  <ul>
 <li><p>{{car.car_make}}</p></li> 
 <li> <p>{{car.car_model}}</p></li> 
  <li>  <p>{{car.body_type}}</p></li> 
   <li>   <p>{{car.gearbox}}</p></li> 
   <li>     <p>{{car.registration_number}}</p></li> 
      <li>    <p>{{car.number_of_keys}}</p></li> 
       <li>     <p>{{car.ULEZ_compliant}}</p></li> 
        <li>      <p>{{car.exterior_colour}}</p></li> 
         <li>       <p>{{car.previous_owners}}</p></li> 
           <li>     <p>{{car.emisssions}}</p></li> 
           <li>    <p>{{car.last_MOT}}</p></li> 
  </ul>
  
              
    </div>        
 {% endfor %}
</div>
</div>    
{%endblock%}

 <h3>Interior informaiton</h3>
  <div class="row">
  <div class="col-sm-3">
    <label for="car-model">Bluetooth</label>
       <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="bluetooth">
            <label class="custom-control-label" for="bluetooth"></label>
        </div>
  </div>
  <div class="col-sm-3">
  <label for="car-model">Climat Control</label>
       <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="climate_control">
  <label class="custom-control-label" for="climate_control"></label>
  </div>
  </div>
   <div class="col-sm-3">
  <label for="car-model">Cruise control</label>
       <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="cruise_control">
  <label class="custom-control-label" for="cruise_control"></label>
  </div>
  </div>
  <div class="col-sm-3">
  <label for="car-model">DAB</label>
       <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="dab">
  <label class="custom-control-label" for="dab"></label>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="col-sm-3">
    <label for="car-model">ISOFIX fittings</label>
       <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="isofix">
            <label class="custom-control-label" for="isofix"></label>
        </div>
  </div>
  <div class="col-sm-3">
  <label for="car-model">Rear Parking Sensors</label>
       <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="rear_parking_sensors">
  <label class="custom-control-label" for="climate_control"></label>
  </div>
  </div>
   <div class="col-sm-3">
  <label for="car-model">Start/Stop techonolgy</label>
       <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="start_stop_technology">
  <label class="custom-control-label" for="start_stop_technology"></label>
  </div>
  </div>
  <div class="col-sm-3">
  <label for="car-model">Seats</label><br>
       <div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline1">Leather</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline2">Cloth</label>
</div>
  </div>
  </div>