{% extends 'base.html' %} 
 {% block head %}View Full Car Specs{% endblock %}
{% block content %}
<section class="slider container" style="margin-top:20px;">
 <ul class="slides">
      <li>
      
        <img src="{{ car_info.car_image_url }}"> <!-- random image -->
     
        <div class="caption center-align">
                </div>
      </li>
    </ul>
</section>

<div class="container" style="margin-bottom:40px">
    <div class="row">
        <div class="col s12">
            <h2>{{ car_info.car_make }} {{ car_info.car_model }}</h2><hr>
        </div>
        <div class="col s12">
            <p> <strong style="font-size: 26px;">{{ car_info.car_price}}</strong></p>
            <p>Registration Year: <strong> {{ car_info.registration_year }} </strong>
            <br> Engine: <strong>{{ car_info.engine }} </strong></p>
        </div>
    </div> 

    <div class="row">
        <div class="col">Fuel Type: {{car_info.fuel_type}}</div>
        <div class="col">Mileage: {{car_info.mileage}}</div>
        <div class="col">Transmission: {{car_info.transmisson}}</div>
        <div class="col">Seats: {{car_info.seats}}</div>
    </div>
    <div class="row">
    <div class="col s12"><h4>Car summary</h4></div>
    <div class="col s12"><p>Body type: </p><strong><p>{{ car_info.body_type }}</p></strong><hr></div>
    <div class="col s12"><p>Exterior colour:</p><strong><p> {{ car_info.exterior_colour }}</p></strong><hr></div>
    <div class="col s12"><p>Gear box: </p> <strong><p>{{ car_info.gear_box }}</p></strong><hr></div>
    <div class="col s12"><p>Drive type: </p> <strong><p>{{ car_info.drive_type }}</p></strong><hr></div>
    <div class="col s12"><p>Registration number: </p> <strong><p>{{ car_info.reg_num }}</p></strong><hr></div>
    <div class="col s12"><p>Warranty expires date: </p> <strong><p>{{ car_info.warranty_expire_date }}</p></strong><hr></div>
    {% if car_info.is_ULEZ_compliant %}
        <div class="col s12"><p>ULEZ compliant: </p> <strong><p>Yes</p></strong><hr></div>
    {% endif %}

<div class="row">
<div class="col s12"><h4>Car features</h4></div>
<div class="col s12"><h5>Exterior</h5></div>
<div class="col s6"><p>Alloy Wheels: {{ car_info.alloy_wheels }}</p><hr></div>
<div class="col s6"><p>Metallic Paint: {{ car_info.metallic_paint }}</p><hr></div>
<div class="col s12"><h5>Interior</h5></div>
<div class="col s6"><p>Bluetooth: {{ car_info.bluetooth }}</p><hr></div>
<div class="col s6"><p>Climate cotrol: {{ car_info.climate_control }}</p><hr></div>
<div class="col s6"><p>Seats Material: {{ car_info.seats_material }}</p><hr></div>
<div class="col s6"><p>Metallic Paint: {{ car_info.metallic_paint }}</p><hr></div>
<div class="col s6"><p>ISO Fittings: {{ car_info.ISOFIX_fittings }}</p><hr></div>
<div class="col s6"><p>Rear Parking Sensors: {{ car_info.rear_parking_sensors }}</p><hr></div>
<div class="col s6"><p>Start stop technology: {{ car_info.start_stop_technology }}</p><hr></div>
<div class="col s6"><p>Cruise control: {{ car_info.cruise_control }}</p><hr></div>
</div>
</div>

<div class="row">

    <div class="col s12"><h4>Car specs</h4></div>

    
    <div class="col s6">
    <div class="col s12"><h5>Perfomance and economy</h5></div>
        <div class="col s12"><p>Top speed: </p><strong><p>{{ car_info.top_Speed }}</p></strong><hr></div>
        <div class="col s12"><p>Acceleration (0-62 mph):</p><strong><p> {{ car_info.acceleration }}</p></strong><hr></div>
        <div class="col s12"><p>Engine power: </p><strong><p>{{ car_info.engine_power }}</p></strong><hr></div>
    </div>
   
    <div class="col s6">
     <div class="col s6"><h5>Weight and dimensions</h5></div>
        <div class="col s12"><p>Length:</p><strong><p> {{ car_info.length }}</p></strong><hr></div>
        <div class="col s12"><p>Boot space (seats-up):</p><strong><p> {{ car_info.boot_space }}</p></strong><hr></div>
        <div class="col s12"><p>Fuel tank capacity: </p><strong><p>{{ car_info.fuel_tank_capacity }}</p></strong><hr></div>
    </div>    
</div>

<div class="row">
     <div class="col s12"><h4>Perfomance and economy</h4></div>
 
    <div class="col s6"><p>Vehicle tax: </p><strong><p>{{ car_info.vehicle_tax }}</p></strong><hr></div>
    <div class="col s6"><p>Insurance:</p><strong><p> {{ car_info.insurance }}</p></strong><hr></div>
    <div class="col s6"><p>Fuel consumption: </p> <strong><p>{{ car_info.fuel_consumption }}</p></strong><hr></div>


</div>
<form action="{{url_for('book_test_drive', car_id=car_info._id)}}" method="POST" id="{{car_info._id}}" name="{{car_info._id}}">
        <input type="hidden"  name="car_make" value="{{car_info.car_make}}">
        <input type="hidden"  name="car_model" value="{{car_info.car_model}}">
        <input type="hidden" name="reg_num" value="{{car_info.reg_num}}">
        <input type="hidden"  name="registration_year" value="{{car_info.registration_year}}">
        <input type="hidden"  name="car_image_url" value="{{car_info.car_image_url}}">

   </form>
   <button class="waves-effect waves-light btn custom_btn" form="{{car_info._id}}" type="submit"> 
      Book test drive <i class="material-icons right">send</i>
      </button> 
</div>
{%endblock%}
