{% extends 'base.html' %} 
  
{% block content %}


{% if availiable_cars_in_make %}

<div class="container">
<h2>Please book you test drive today:</h2>

<div class="row">

{% for make in availiable_cars_in_make %}

<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ make.car_image_url }}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{make.car_make}} {{make.car_model}} <i class="material-icons right">more_vert</i></span>
       <div class="card-content">
      <ul class="list-group list-group-flush">
    <li class="list-group-item">Car Model:<strong> {{make.engine}}</strong></li>
    <li class="list-group-item">Reg Num: <strong> {{make.reg_num}}</strong></li>
    <li class="list-group-item">Reg Year:<strong> {{make.registration_year}}</strong></li>
  </ul>
    </div>
      <div class="card-action">
    <form action="{{url_for('book_test_drive', car_id=make._id)}}" method="POST" id="{{make._id}}" name="{{make._id}}">
        <input type="hidden"  name="car_make" value="{{make.car_make}}">
        <input type="hidden"  name="car_model" value="{{make.car_model}}">
        <input type="hidden" name="reg_num" value="{{make.reg_num}}">
        <input type="hidden"  name="registration_year" value="{{make.registration_year}}">
        <input type="hidden"  name="car_image_url" value="{{make.car_image_url}}">

   </form>
    <a href="{{url_for('user_view_car_specs', car_id=make._id )}}" class="waves-effect waves-light btn"> View car full specs </a>
      <button class="waves-effect waves-light btn" form="{{make._id}}" type="submit"> 
      Book test drive <i class="material-icons right">send</i>
      </button> 
      
      </div>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <div class="col-md-12"><h4>Car summary</h4></div>

<div class="col-md-6"><p>Body type: </p><strong><p>{{ make.body_type }}</p></strong><hr></div>
<div class="col-md-6"><p>Exterior colour:</p><strong><p> {{ make.exterior_colour }}</p></strong><hr></div>
<div class="col-md-6"><p>Gear box: </p> <strong><p>{{ make.gear_box }}</p></strong><hr></div>
<div class="col-md-6"><p>Drive type: </p> <strong><p>{{ make.drive_type }}</p></strong><hr></div>
<div class="col-md-6"><p>Registration number: </p> <strong><p>{{ make.reg_num }}</p></strong><hr></div>
<div class="col-md-6"><p>Warranty expires date: </p> <strong><p>{{ make.warranty_expire_date }}</p></strong><hr></div>
{% if make.is_ULEZ_compliant %}
<div class="col-md-6"><p>ULEZ compliant: </p> <strong><p>Yes</p></strong><hr></div>
{% endif %}
    </div>
  </div>
            

 
{% endfor %}

</div>

</div>
{% endif %}


{% if availiable_cars_in_model %}
<h1>USER Model VIEW</h1>
<div class="container">

<div class="row">

{% for models in availiable_cars_in_model %}

<div class="col-md-12 mt-4">
<div class="card" style="width: 36rem;">
  <img src="{{ models.car_image_url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Car Make: {{models.car_make}}</h5>  
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Car Model:<strong><mark>{{models.car_model}}</mark></strong></li>
    <li class="list-group-item">Reg Num: <strong><mark>{{models.reg_num}}</mark></strong></li>
    <li class="list-group-item">Reg Year:<strong><mark>{{models.registration_year}}</mark></strong></li>
  </ul>
  <div class="card-body">
  <form action="" method="POST" name="make_search_form">
  <input type="hidden" name="car_make" value="{{models.car_make}}">
   <input type="hidden" name="car_model" value="{{models.car_model}}">
  <input type="hidden" name="reg_num" value="{{models.reg_num}}">
  <input type="hidden" name="registration_year" value="{{models.registration_year}}">
  <input type="hidden" name="car_image_url" value="{{models.car_image_url}}">

  <div class="form-row">
     <div class="col mb-2"><a href="{{url_for('book_test_drive', car_id=models._id)}}" class="btn btn-dark btn-sm" form="make_search_form" type="submit">Book test drive</a> </div>
    <div class="col mb-2"><a href="{{url_for('user_view_car_specs', car_id=models._id )}}" class="btn btn-dark btn-sm">View car full specs</a></div>
   </div>
   </form>
   </div>

</div>

    </div>

    
   {% endfor %}


</div>

</div>
{% endif %}


{%endblock%}
