{% extends 'base.html' %} 
  
{% block content %}

{% if availiable_cars_in_make %}
<h1>USER Make VIEW</h1>
<div class="container">

<div class="row">

{% for make in availiable_cars_in_make %}

<div class="col-md-12 mt-4">
<div class="card" style="width: 56rem;">
  <img src="{{ make.car_image_url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Car Make: {{make.car_make}}</h5>  
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Car Model:<strong><mark>{{make.car_model}}</mark></strong></li>
    <li class="list-group-item">Reg Num: <strong><mark>{{make.reg_num}}</mark></strong></li>
    <li class="list-group-item">Reg Year:<strong><mark>{{make.registration_year}}</mark></strong></li>
  </ul>
  <div class="card-body">
  <div class="row">
 <form action="{{url_for('admin.update_options')}}" method="POST" name="make_search_form">
  <input type="hidden" name="car_make" value="{{make.car_make}}">
  <input type="hidden" name="car_model" value="{{make.car_model}}">
  <input type="hidden"  name="reg_num" value="{{make.reg_num}}">
    <div class="col-md-4 p-1"><button class="btn btn-dark btn-sm" type="submit">Update</button> </div>
  </form>
    
    <div class="col-md-4 p-1"><a href="" class="btn btn-dark btn-sm">View Car</a></div>
   
  </div>
  </div>
</div>
    </div>

    
   {% endfor %}


</div>

</div>
{% endif %}


{% if availiable_cars_in_model %}
<h1>USER Model VIEW</h1>
<div class="container">

<div class="row">

{% for models in availiable_cars_in_model %}

<div class="col-md-12 mt-4">
<div class="card" style="width: 56rem;">
  <img src="{{ models.car_image_url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Car Make: {{models.car_make}}</h5>  
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Car Model:<strong><mark>{{models.car_model}}</mark></strong></li>
    <li class="list-group-item">Reg Num: <strong><mark>{{models.reg_num}}</mark></strong></li>
    <li class="list-group-item">Reg Year:<strong><mark>{{models.registration_year}}</mark></strong></li>
  </ul>
  <div class="card-body">
  <div class="row">
 <form action="{{url_for('admin.update_options')}}" method="POST" name="make_search_form">
  <input type="hidden" name="car_make" value="{{models.car_make}}">
  <input type="hidden" name="car_model" value="{{models.car_model}}">
  <input type="hidden"  name="reg_num" value="{{models.reg_num}}">
    <div class="col-md-4 p-1"><button class="btn btn-dark btn-sm" type="submit">Update</button> </div>
  </form>
    
    <div class="col-md-4 p-1"><a href="" class="btn btn-dark btn-sm">View Car</a></div>
   
  </div>
  </div>
</div>
    </div>

    
   {% endfor %}


</div>

</div>
{% endif %}


{%endblock%}
